{
  "openapi": "3.0.0",
  "info": {
    "title": "\u0414\u043E\u043A\u0443\u043C\u0435\u043D\u0442\u0430\u0446\u0438\u044F Ozon Seller API",
    "version": 2.1,
    "x-logo": {
      "url": "https://cdn2.ozone.ru/s3/redoc/ozon-seller-logo.svg",
      "backgroundColor": null,
      "altText": "Ozon logo"
    },
    "description": "\u041F\u043E \u0432\u043E\u043F\u0440\u043E\u0441\u0430\u043C \u0440\u0430\u0431\u043E\u0442\u044B \u0441 Seller API \u043E\u0431\u0440\u0430\u0449\u0430\u0439\u0442\u0435\u0441\u044C \u0432 \u043F\u043E\u0434\u0434\u0435\u0440\u0436\u043A\u0443 \u0447\u0435\u0440\u0435\u0437 \u043B\u0438\u0447\u043D\u044B\u0439 \u043A\u0430\u0431\u0438\u043D\u0435\u0442.\n\n\u003Caside class=\u0022warning\u0022\u003E\u041E\u0431\u043D\u043E\u0432\u043B\u044F\u0435\u043C \u043A\u043E\u0440\u043D\u0435\u0432\u043E\u0439 TLS/SSL-\u0441\u0435\u0440\u0442\u0438\u0444\u0438\u043A\u0430\u0442 GlobalSign \u2014 \u0432\u043C\u0435\u0441\u0442\u043E \u043D\u0435\u0433\u043E \u0431\u0443\u0434\u0435\u043C \u0438\u0441\u043F\u043E\u043B\u044C\u0437\u043E\u0432\u0430\u0442\u044C \u003Ca href=\u0022https://app.harica.gr/\u0022\u003EHARICA\u003C/a\u003E.\u003Cbr\u003E\u003Ca href=\u0022https://dev.ozon.ru/news/775-Izmeneniia-v-Ozon-API-migratsiia-kornevogo-sertifikata-UTs-Ozon/\u0022\u003E\u041F\u043E\u0434\u0440\u043E\u0431\u043D\u0435\u0435 \u043E \u043F\u0435\u0440\u0435\u0445\u043E\u0434\u0435 \u043D\u0430 HARICA \u043D\u0430 \u043F\u043B\u0430\u0442\u0444\u043E\u0440\u043C\u0435 \u0440\u0430\u0437\u0440\u0430\u0431\u043E\u0442\u0447\u0438\u043A\u043E\u0432 Ozon for dev\u003C/a\u003E\u003C/aside\u003E\n\n\u003E [\u0418\u043D\u0441\u0442\u0440\u0443\u043A\u0446\u0438\u0438 \u043F\u043E \u0440\u0430\u0431\u043E\u0442\u0435 \u0441 \u043C\u0430\u0440\u043A\u0435\u0442\u043F\u043B\u0435\u0439\u0441\u043E\u043C](https://seller-edu.ozon.ru)\n\n\u003E [\u0418\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u043E\u043D\u043D\u0430\u044F \u043F\u043B\u0430\u0442\u0444\u043E\u0440\u043C\u0430 \u0438 \u0441\u043E\u043E\u0431\u0449\u0435\u0441\u0442\u0432\u043E \u0440\u0430\u0437\u0440\u0430\u0431\u043E\u0442\u0447\u0438\u043A\u043E\u0432 Ozon for dev](https://dev.ozon.ru/)\n"
  },
  "servers": [
    {
      "url": "https://api-seller.ozon.ru"
    }
  ],
  "paths": {
    "/v2/warehouse/list": {
      "post": {
        "summary": "\u0421\u043F\u0438\u0441\u043E\u043A \u0441\u043A\u043B\u0430\u0434\u043E\u0432",
        "description": "\u041C\u0435\u0442\u043E\u0434 \u0432\u043E\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u043F\u0438\u0441\u043E\u043A \u0441\u043A\u043B\u0430\u0434\u043E\u0432 FBS \u0438 rFBS. \u0427\u0442\u043E\u0431\u044B \u043F\u043E\u043B\u0443\u0447\u0438\u0442\u044C \u0441\u043F\u0438\u0441\u043E\u043A \u0441\u043A\u043B\u0430\u0434\u043E\u0432 FBO, \u0438\u0441\u043F\u043E\u043B\u044C\u0437\u0443\u0439\u0442\u0435 \u043C\u0435\u0442\u043E\u0434 [/v1/warehouse/fbo/list](#operation/SupplyDraftAPI_DraftGetWarehouseFboList).\n",
        "operationId": "WarehouseListV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v2WarehouseListV2Request"
              },
              "example": {
                "cursor": "string",
                "limit": 0,
                "warehouse_ids": [
                  20605650762000
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0421\u043F\u0438\u0441\u043E\u043A \u0441\u043A\u043B\u0430\u0434\u043E\u0432",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2WarehouseListV2Response"
                },
                "example": {
                  "cursor": "string",
                  "warehouses": [
                    {
                      "address_info": {
                        "address": "\u0420\u043E\u0441\u0441\u0438\u044F, \u041C\u043E\u0441\u043A\u043E\u0432\u0441\u043A\u0430\u044F \u041E\u0431\u043B\u0430\u0441\u0442\u044C, \u0421\u043E\u0444\u044C\u0438\u043D\u043E, \u043F\u0440\u043E\u043C\u0437\u043E\u043D\u0430 \u0421\u0421\u0422, \u043A2, 2",
                        "latitude": 55.495093,
                        "longitude": 38.172731,
                        "utc": "UTC\u002B03:00"
                      },
                      "carriage_label_type": "BIG",
                      "courier_comment": "",
                      "courier_phones": [
                        "\u002B7(999)999-99-99"
                      ],
                      "created_at": "2025-03-11T11:57:51.811Z",
                      "first_mile": {
                        "type": "PICK_UP",
                        "dropoff_point_id": "1020002075314000",
                        "timeslot_from": "20:59",
                        "timeslot_id": 287231,
                        "timeslot_to": "21:00",
                        "first_mile_is_changing": false
                      },
                      "has_entrusted_acceptance": true,
                      "has_postings_limit": false,
                      "is_auto_assembly": true,
                      "is_kgt": true,
                      "is_rfbs": true,
                      "is_waybill_enabled": true,
                      "min_postings_limit": 2,
                      "is_comfort": true,
                      "is_express": true,
                      "warehouse_type": "string",
                      "cut_in_time": 0,
                      "name": "17023",
                      "phone": "\u002B7(999)999-99-99",
                      "postings_limit": -1,
                      "sla_cut_in": 2939,
                      "status": "created",
                      "timetable": {
                        "timetable_from": "2025-03-11T11:57:51.811Z",
                        "timetable_to": "2025-03-11T11:57:51.811Z",
                        "working_hours": [
                          {
                            "time_from": "2025-03-11T11:57:51.811Z",
                            "time_to": "2025-03-11T11:57:51.811Z"
                          }
                        ]
                      },
                      "updated_at": "2025-03-11T11:57:51.811Z",
                      "warehouse_id": 20605650762000,
                      "with_item_list": true,
                      "working_days": [
                        "MONDAY",
                        "TUESDAY",
                        "WEDNESDAY",
                        "THURSDAY",
                        "FRIDAY"
                      ]
                    }
                  ],
                  "has_next": "string"
                }
              }
            }
          },
          "default": {
            "description": "\u041E\u0448\u0438\u0431\u043A\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "WarehouseAPI"
        ]
      }
    },
    "/v3/product/list": {
      "post": {
        "summary": "\u0421\u043F\u0438\u0441\u043E\u043A \u0442\u043E\u0432\u0430\u0440\u043E\u0432",
        "operationId": "ProductAPI_GetProductList",
        "description": "\u041C\u0435\u0442\u043E\u0434 \u0434\u043B\u044F \u043F\u043E\u043B\u0443\u0447\u0435\u043D\u0438\u044F \u0441\u043F\u0438\u0441\u043A\u0430 \u0432\u0441\u0435\u0445 \u0442\u043E\u0432\u0430\u0440\u043E\u0432.\n\n\u0415\u0441\u043B\u0438 \u0432\u044B \u0438\u0441\u043F\u043E\u043B\u044C\u0437\u0443\u0435\u0442\u0435 \u0444\u0438\u043B\u044C\u0442\u0440 \u043F\u043E \u0438\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440\u0443 \u0060offer_id\u0060 \u0438\u043B\u0438 \u0060product_id\u0060, \u043E\u0441\u0442\u0430\u043B\u044C\u043D\u044B\u0435 \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440\u044B \u0437\u0430\u043F\u043E\u043B\u043D\u044F\u0442\u044C \u043D\u0435 \u043E\u0431\u044F\u0437\u0430\u0442\u0435\u043B\u044C\u043D\u043E.\n\u0412\u0435\u0440\u043D\u0443\u0442\u0441\u044F \u0432\u0441\u0435 \u0442\u043E\u0432\u0430\u0440\u044B \u0441 \u0443\u043A\u0430\u0437\u0430\u043D\u043D\u044B\u043C\u0438 \u0438\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440\u0430\u043C\u0438, \u043D\u0435\u0437\u0430\u0432\u0438\u0441\u0438\u043C\u043E \u043E\u0442 \u0432\u0438\u0434\u0438\u043C\u043E\u0441\u0442\u0438.\n\u0417\u0430 \u043E\u0434\u0438\u043D \u0440\u0430\u0437 \u0432\u044B \u043C\u043E\u0436\u0435\u0442\u0435 \u0438\u0441\u043F\u043E\u043B\u044C\u0437\u043E\u0432\u0430\u0442\u044C \u0442\u043E\u043B\u044C\u043A\u043E \u043E\u0434\u043D\u0443 \u0433\u0440\u0443\u043F\u043F\u0443 \u0438\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440\u043E\u0432, \u043D\u0435 \u0431\u043E\u043B\u044C\u0448\u0435 1000 \u0442\u043E\u0432\u0430\u0440\u043E\u0432.\n\n\u0415\u0441\u043B\u0438 \u0432\u044B \u043D\u0435 \u0438\u0441\u043F\u043E\u043B\u044C\u0437\u0443\u0435\u0442\u0435 \u0434\u043B\u044F \u043E\u0442\u043E\u0431\u0440\u0430\u0436\u0435\u043D\u0438\u044F \u0438\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440\u044B, \u0443\u043A\u0430\u0436\u0438\u0442\u0435 \u0060limit\u0060 \u0438 \u0060last_id\u0060 \u0432 \u0441\u043B\u0435\u0434\u0443\u044E\u0449\u0438\u0445 \u0437\u0430\u043F\u0440\u043E\u0441\u0430\u0445.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/productv3GetProductListRequest"
              },
              "example": {
                "filter": {
                  "offer_id": [
                    "136748"
                  ],
                  "product_id": [
                    "223681945"
                  ],
                  "skus": [
                    "179737222"
                  ],
                  "visibility": "ALL"
                },
                "last_id": "",
                "limit": 100
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "\u0421\u043F\u0438\u0441\u043E\u043A \u0442\u043E\u0432\u0430\u0440\u043E\u0432",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/productv3GetProductListResponse"
                },
                "example": {
                  "result": {
                    "items": [
                      {
                        "product_id": 3397917680,
                        "offer_id": "2026-01-13 16:56:03 PDF",
                        "sku": 987654321,
                        "has_fbo_stocks": false,
                        "has_fbs_stocks": false,
                        "archived": false,
                        "is_discounted": false,
                        "quants": []
                      }
                    ],
                    "total": 1,
                    "last_id": "WzMzOTc5MTc2ODAsMzM5NzkxNzY4MF0="
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u041D\u0435\u0432\u0435\u0440\u043D\u044B\u0439 \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "\u0414\u043E\u0441\u0442\u0443\u043F \u0437\u0430\u043F\u0440\u0435\u0449\u0451\u043D",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "\u041E\u0442\u0432\u0435\u0442 \u043D\u0435 \u043D\u0430\u0439\u0434\u0435\u043D",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "\u041A\u043E\u043D\u0444\u043B\u0438\u043A\u0442 \u0437\u0430\u043F\u0440\u043E\u0441\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "\u0412\u043D\u0443\u0442\u0440\u0435\u043D\u043D\u044F\u044F \u043E\u0448\u0438\u0431\u043A\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "ProductAPI"
        ]
      }
    },
    "/v3/product/info/list": {
      "post": {
        "summary": "\u041F\u043E\u043B\u0443\u0447\u0438\u0442\u044C \u0438\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044E \u043E \u0442\u043E\u0432\u0430\u0440\u0430\u0445 \u043F\u043E \u0438\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440\u0430\u043C",
        "description": "\n\u041C\u0435\u0442\u043E\u0434 \u0434\u043B\u044F \u043F\u043E\u043B\u0443\u0447\u0435\u043D\u0438\u044F \u0438\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u0438 \u043E \u0442\u043E\u0432\u0430\u0440\u0430\u0445 \u043F\u043E \u0438\u0445 \u0438\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440\u0430\u043C.\n\n\u0412 \u0442\u0435\u043B\u0435 \u0437\u0430\u043F\u0440\u043E\u0441\u0430 \u0434\u043E\u043B\u0436\u0435\u043D \u0431\u044B\u0442\u044C \u043C\u0430\u0441\u0441\u0438\u0432 \u043E\u0434\u043D\u043E\u0442\u0438\u043F\u043D\u044B\u0445 \u0438\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440\u043E\u0432, \u0432 \u043E\u0442\u0432\u0435\u0442\u0435 \u0431\u0443\u0434\u0435\u0442 \u043C\u0430\u0441\u0441\u0438\u0432 \u0060items\u0060.\n\n\u0412 \u043E\u0434\u043D\u043E\u043C \u0437\u0430\u043F\u0440\u043E\u0441\u0435 \u0432\u044B \u043C\u043E\u0436\u0435\u0442\u0435 \u043F\u0435\u0440\u0435\u0434\u0430\u0442\u044C \u043D\u0435 \u0431\u043E\u043B\u044C\u0448\u0435 1000 \u0442\u043E\u0432\u0430\u0440\u043E\u0432 \u043F\u043E \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440\u0430\u043C \u0060offer_id\u0060, \u0060product_id\u0060 \u0438 \u0060sku\u0060 \u0432 \u0441\u0443\u043C\u043C\u0435.\n",
        "operationId": "ProductAPI_GetProductInfoList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v3GetProductInfoListRequest"
              },
              "example": {
                "offer_id": [
                  "2026113PDF"
                ],
                "product_id": [
                  "3339791176800"
                ],
                "sku": [
                  "33373353831"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "\u0421\u043F\u0438\u0441\u043E\u043A \u0442\u043E\u0432\u0430\u0440\u043E\u0432",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v3GetProductInfoListResponse"
                },
                "example": {
                  "items": [
                    {
                      "availabilities": [
                        {
                          "availability": "in_stock",
                          "reasons": [
                            {
                              "human_text": {
                                "text": "\u0422\u043E\u0432\u0430\u0440 \u0434\u043E\u0441\u0442\u0443\u043F\u0435\u043D \u043D\u0430 \u0441\u043A\u043B\u0430\u0434\u0435"
                              },
                              "id": 12345
                            }
                          ],
                          "sku": 987654321,
                          "source": "main_warehouse"
                        }
                      ],
                      "barcodes": [
                        "123456789012"
                      ],
                      "color_image": [
                        "https://example.com/color_image_123.jpg"
                      ],
                      "commissions": [
                        {
                          "delivery_amount": 150,
                          "percent": 10,
                          "return_amount": 50,
                          "sale_schema": "standard",
                          "value": 200
                        }
                      ],
                      "created_at": "2023-01-15T10:30:00Z",
                      "currency_code": "RUB",
                      "description_category_id": 42,
                      "discounted_fbo_stocks": 5,
                      "errors": [
                        {
                          "attribute_id": 101,
                          "code": "INVALID_PRICE",
                          "field": "price",
                          "level": "ERROR",
                          "state": "pending",
                          "texts": {
                            "attribute_name": "\u0426\u0435\u043D\u0430",
                            "description": "\u0426\u0435\u043D\u0430 \u043D\u0435 \u043C\u043E\u0436\u0435\u0442 \u0431\u044B\u0442\u044C \u043E\u0442\u0440\u0438\u0446\u0430\u0442\u0435\u043B\u044C\u043D\u043E\u0439",
                            "hint_code": "PRICE_NEGATIVE",
                            "message": "\u0418\u0441\u043F\u0440\u0430\u0432\u044C\u0442\u0435 \u0446\u0435\u043D\u0443",
                            "params": [
                              {
                                "name": "min_price",
                                "value": "100"
                              }
                            ],
                            "short_description": "\u041E\u0448\u0438\u0431\u043A\u0430 \u0446\u0435\u043D\u044B"
                          }
                        }
                      ],
                      "has_discounted_fbo_item": false,
                      "id": 100001,
                      "images": [
                        "https://example.com/image1.jpg",
                        "https://example.com/image2.jpg"
                      ],
                      "is_archived": false,
                      "is_autoarchived": false,
                      "is_discounted": true,
                      "is_kgt": false,
                      "is_prepayment_allowed": true,
                      "is_super": false,
                      "min_price": "999.99",
                      "model_info": {
                        "count": 3,
                        "model_id": 777
                      },
                      "name": "\u0422\u0435\u0441\u0442\u043E\u0432\u044B\u0439 \u0442\u043E\u0432\u0430\u0440 123",
                      "offer_id": "OFFER_123456789",
                      "old_price": "1499.99",
                      "price": "1299.99",
                      "price_indexes": {
                        "color_index": "RED",
                        "external_index_data": {
                          "minimal_price": "1199.99",
                          "minimal_price_currency": "RUB",
                          "price_index_value": 85
                        },
                        "ozon_index_data": {
                          "minimal_price": "1250.00",
                          "minimal_price_currency": "RUB",
                          "price_index_value": 90
                        },
                        "self_marketplaces_index_data": {
                          "minimal_price": "1200.00",
                          "minimal_price_currency": "RUB",
                          "price_index_value": 88
                        }
                      },
                      "primary_image": [
                        "https://example.com/primary_image.jpg"
                      ],
                      "promotions": [
                        {
                          "is_enabled": true,
                          "type": "DISCOUNT"
                        }
                      ],
                      "sku": 123456789,
                      "sources": [
                        {
                          "created_at": "2023-01-10T09:15:00Z",
                          "quant_code": "QUANT_123",
                          "shipment_type": "EXPRESS",
                          "sku": 123456789,
                          "source": "supplier_1"
                        }
                      ],
                      "statuses": {
                        "is_created": true,
                        "moderate_status": "approved",
                        "status": "active",
                        "status_description": "\u0422\u043E\u0432\u0430\u0440 \u0434\u043E\u0441\u0442\u0443\u043F\u0435\u043D \u0434\u043B\u044F \u043F\u0440\u043E\u0434\u0430\u0436\u0438",
                        "status_failed": "none",
                        "status_name": "\u0410\u043A\u0442\u0438\u0432\u0435\u043D",
                        "status_tooltip": "\u0422\u043E\u0432\u0430\u0440 \u043F\u0440\u043E\u0448\u0451\u043B \u043C\u043E\u0434\u0435\u0440\u0430\u0446\u0438\u044E",
                        "status_updated_at": "2023-01-14T11:20:00Z",
                        "validation_status": "valid"
                      },
                      "stocks": {
                        "has_stock": true,
                        "stocks": [
                          {
                            "present": 50,
                            "reserved": 5,
                            "sku": 123456789,
                            "source": "main_warehouse"
                          }
                        ]
                      },
                      "type_id": 1,
                      "updated_at": "2023-01-16T12:45:00Z",
                      "vat": "20%",
                      "visibility_details": {
                        "has_price": true,
                        "has_stock": true
                      },
                      "volume_weight": 1.5
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "\u041D\u0435\u0432\u0435\u0440\u043D\u044B\u0439 \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "\u0414\u043E\u0441\u0442\u0443\u043F \u0437\u0430\u043F\u0440\u0435\u0449\u0451\u043D",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "\u041E\u0442\u0432\u0435\u0442 \u043D\u0435 \u043D\u0430\u0439\u0434\u0435\u043D",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "\u041A\u043E\u043D\u0444\u043B\u0438\u043A\u0442 \u0437\u0430\u043F\u0440\u043E\u0441\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "\u0412\u043D\u0443\u0442\u0440\u0435\u043D\u043D\u044F\u044F \u043E\u0448\u0438\u0431\u043A\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "ProductAPI"
        ]
      }
    },
    "/v1/seller/info": {
      "post": {
        "tags": [
          "SellerInfo"
        ],
        "summary": "\u0418\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044F \u043E \u043A\u0430\u0431\u0438\u043D\u0435\u0442\u0435 \u043F\u0440\u043E\u0434\u0430\u0432\u0446\u0430",
        "operationId": "SellerAPI_SellerInfo",
        "responses": {
          "200": {
            "description": "\u0418\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044F \u043E \u043A\u0430\u0431\u0438\u043D\u0435\u0442\u0435 \u043F\u0440\u043E\u0434\u0430\u0432\u0446\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1SellerInfoResponse"
                },
                "example": {
                  "company": {
                    "country": "\u0420\u043E\u0441\u0441\u0438\u044F",
                    "currency": "RUB",
                    "inn": "7707083893",
                    "legal_name": "\u041E\u0431\u0449\u0435\u0441\u0442\u0432\u043E \u0441 \u043E\u0433\u0440\u0430\u043D\u0438\u0447\u0435\u043D\u043D\u043E\u0439 \u043E\u0442\u0432\u0435\u0442\u0441\u0442\u0432\u0435\u043D\u043D\u043E\u0441\u0442\u044C\u044E \u0027\u0420\u043E\u043C\u0430\u0448\u043A\u0430\u0027",
                    "name": "\u041E\u041E\u041E \u0027\u0420\u043E\u043C\u0430\u0448\u043A\u0430\u0027",
                    "ogrn": "1027700132195",
                    "ownership_form": "\u0427\u0430\u0441\u0442\u043D\u0430\u044F \u0441\u043E\u0431\u0441\u0442\u0432\u0435\u043D\u043D\u043E\u0441\u0442\u044C",
                    "tax_system": "\u041E\u0421\u041D\u041E"
                  },
                  "ratings": [
                    {
                      "current_value": {
                        "date_from": "2023-01-15T09:00:00Z",
                        "date_to": "2023-12-31T23:59:59Z",
                        "formatted": "AA\u002B",
                        "status": {
                          "danger": false,
                          "premium": true,
                          "warning": false
                        },
                        "value": 85
                      },
                      "name": "\u0424\u0438\u043D\u0430\u043D\u0441\u043E\u0432\u0430\u044F \u0443\u0441\u0442\u043E\u0439\u0447\u0438\u0432\u043E\u0441\u0442\u044C",
                      "past_value": {
                        "date_from": "2022-01-01T00:00:00Z",
                        "date_to": "2022-12-31T23:59:59Z",
                        "formatted": "A",
                        "status": {
                          "danger": false,
                          "premium": false,
                          "warning": true
                        },
                        "value": 78
                      },
                      "rating": "\u0412\u044B\u0441\u043E\u043A\u0438\u0439 \u0443\u0440\u043E\u0432\u0435\u043D\u044C",
                      "status": "\u0410\u043A\u0442\u0438\u0432\u043D\u043E",
                      "value_type": "\u041A\u043E\u043B\u0438\u0447\u0435\u0441\u0442\u0432\u0435\u043D\u043D\u044B\u0439"
                    }
                  ],
                  "subscription": {
                    "is_premium": true,
                    "type": "\u041F\u0440\u043E\u0444\u0435\u0441\u0441\u0438\u043E\u043D\u0430\u043B\u044C\u043D\u044B\u0439"
                  }
                }
              }
            }
          },
          "default": {
            "description": "\u041E\u0448\u0438\u0431\u043A\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v4/posting/fbs/unfulfilled/list": {
      "post": {
        "description": "\u0412\u043E\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u043F\u0438\u0441\u043E\u043A \u043D\u0435\u043E\u0431\u0440\u0430\u0431\u043E\u0442\u0430\u043D\u043D\u044B\u0445 \u043E\u0442\u043F\u0440\u0430\u0432\u043B\u0435\u043D\u0438\u0439 \u0437\u0430 \u0443\u043A\u0430\u0437\u0430\u043D\u043D\u044B\u0439 \u043F\u0435\u0440\u0438\u043E\u0434 \u0432\u0440\u0435\u043C\u0435\u043D\u0438 \u2014 \u043E\u043D \u0434\u043E\u043B\u0436\u0435\u043D \u0431\u044B\u0442\u044C \u043D\u0435 \u0431\u043E\u043B\u044C\u0448\u0435 \u043E\u0434\u043D\u043E\u0433\u043E \u0433\u043E\u0434\u0430.\n\n\u0412\u043E\u0437\u043C\u043E\u0436\u043D\u044B\u0435 \u0441\u0442\u0430\u0442\u0443\u0441\u044B \u043E\u0442\u043F\u0440\u0430\u0432\u043B\u0435\u043D\u0438\u0439:\n- \u0060awaiting_registration\u0060 \u2014 \u043E\u0436\u0438\u0434\u0430\u0435\u0442 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u0438;\n- \u0060acceptance_in_progress\u0060 \u2014 \u0438\u0434\u0451\u0442 \u043F\u0440\u0438\u0451\u043C\u043A\u0430;\n- \u0060awaiting_approve\u0060 \u2014 \u043E\u0436\u0438\u0434\u0430\u0435\u0442 \u043F\u043E\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043D\u0438\u044F;\n- \u0060awaiting_packaging\u0060 \u2014 \u043E\u0436\u0438\u0434\u0430\u0435\u0442 \u0443\u043F\u0430\u043A\u043E\u0432\u043A\u0438;\n- \u0060awaiting_deliver\u0060 \u2014 \u043E\u0436\u0438\u0434\u0430\u0435\u0442 \u043E\u0442\u0433\u0440\u0443\u0437\u043A\u0438;\n- \u0060arbitration\u0060 \u2014 \u0430\u0440\u0431\u0438\u0442\u0440\u0430\u0436;\n- \u0060client_arbitration\u0060 \u2014 \u043A\u043B\u0438\u0435\u043D\u0442\u0441\u043A\u0438\u0439 \u0430\u0440\u0431\u0438\u0442\u0440\u0430\u0436 \u0434\u043E\u0441\u0442\u0430\u0432\u043A\u0438;\n- \u0060delivering\u0060 \u2014 \u0434\u043E\u0441\u0442\u0430\u0432\u043B\u044F\u0435\u0442\u0441\u044F;\n- \u0060driver_pickup\u0060 \u2014 \u0443 \u0432\u043E\u0434\u0438\u0442\u0435\u043B\u044F;\n- \u0060cancelled\u0060 \u2014 \u043E\u0442\u043C\u0435\u043D\u0435\u043D\u043E;\n- \u0060not_accepted\u0060 \u2014 \u043D\u0435 \u043F\u0440\u0438\u043D\u044F\u0442\u043E \u043D\u0430 \u0441\u043E\u0440\u0442\u0438\u0440\u043E\u0432\u043E\u0447\u043D\u043E\u043C \u0446\u0435\u043D\u0442\u0440\u0435.\n\n\u0427\u0442\u043E\u0431\u044B \u043F\u043E\u043B\u0443\u0447\u0430\u0442\u044C \u0430\u043A\u0442\u0443\u0430\u043B\u044C\u043D\u0443\u044E \u0434\u0430\u0442\u0443 \u043E\u0442\u0433\u0440\u0443\u0437\u043A\u0438, \u0440\u0435\u0433\u0443\u043B\u044F\u0440\u043D\u043E \u043E\u0431\u043D\u043E\u0432\u043B\u044F\u0439\u0442\u0435 \u0438\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044E \u043E\u0431 \u043E\u0442\u043F\u0440\u0430\u0432\u043B\u0435\u043D\u0438\u044F\u0445 \u0438\u043B\u0438 \u043F\u043E\u0434\u043A\u043B\u044E\u0447\u0438\u0442\u0435 [\u043F\u0443\u0448-\u0443\u0432\u0435\u0434\u043E\u043C\u043B\u0435\u043D\u0438\u044F](#tag/push_start).\n",
        "tags": [
          "FBS"
        ],
        "summary": "\u041F\u043E\u043B\u0443\u0447\u0438\u0442\u044C \u0441\u043F\u0438\u0441\u043E\u043A \u043D\u0435\u043E\u0431\u0440\u0430\u0431\u043E\u0442\u0430\u043D\u043D\u044B\u0445 \u043E\u0442\u043F\u0440\u0430\u0432\u043B\u0435\u043D\u0438\u0439",
        "operationId": "PostingFbsUnfulfilledList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostingFbsUnfulfilledListRequest"
              },
              "example": {
                "sort_dir": "asc",
                "limit": 100,
                "filter": {
                  "cutoff_from": "2026-01-21T07:13:56.042Z",
                  "cutoff_to": "2026-01-21T07:13:56.042Z",
                  "delivery_method_ids": [
                    123456
                  ],
                  "statuses": [
                    "awaiting_packaging",
                    "awaiting_deliver",
                    "delivering"
                  ],
                  "warehouse_ids": [
                    3092889984
                  ],
                  "provider_ids": [
                    57
                  ],
                  "last_change_status_date": {
                    "from": "2026-01-21T07:13:56.042Z",
                    "to": "2026-01-21T07:13:56.042Z"
                  }
                },
                "cursor": "",
                "with": {
                  "barcodes": true,
                  "analytics_data": true,
                  "financial_data": true,
                  "legal_info": true
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "\u0421\u043F\u0438\u0441\u043E\u043A \u043D\u0435\u043E\u0431\u0440\u0430\u0431\u043E\u0442\u0430\u043D\u043D\u044B\u0445 \u043E\u0442\u043F\u0440\u0430\u0432\u043B\u0435\u043D\u0438\u0439",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostingFbsUnfulfilledListResponse"
                },
                "example": {
                  "has_next": true,
                  "cursor": "eyJmaWVsZHMiOlt7Im5hbWUiOiJvc3AuY3V0b2ZmIiwiZGlyIjoiYXNjIiwidmFsIjoiMjAyNi0wNS0wNVQwNjo0NDozN1oifSx7Im5hbWUiOiJvc3AuaW5fcHJvY2Vzc19hdCIsImRpciI6ImFzYyIsInZhbCI6IjIwMjYtMDUtMDRUMDY6NDQ6MzdaIn0seyJuYW1lIjoib3NwLmlkIiwiZGlyIjoiYXNjIiwidmFsIjoiMTIwODk3MjIwMiJ9LHsibmFtZSI6Im9zcC5pZCIsImRpciI6ImFzYyIsInZhbCI6IjEyMDg5NzIyMDIifV19",
                  "postings": [
                    {
                      "posting_number": "41517061-0214-1",
                      "order_id": 34953320005,
                      "order_number": "41517061-0214",
                      "pickup_code_verified_at": null,
                      "status": "awaiting_deliver",
                      "substatus": "posting_in_carriage",
                      "delivery_method": {
                        "id": 20605650762000,
                        "name": "\u0414\u043E\u0441\u0442\u0430\u0432\u043A\u0430 Ozon \u0441\u0430\u043C\u043E\u0441\u0442\u043E\u044F\u0442\u0435\u043B\u044C\u043D\u043E, \u0421\u043E\u0444\u044C\u0438\u043D\u043E",
                        "warehouse_id": 20605650762000,
                        "warehouse": "17023",
                        "tpl_provider_id": 24,
                        "tpl_provider": "\u0414\u043E\u0441\u0442\u0430\u0432\u043A\u0430 Ozon"
                      },
                      "delivery_schema": "fbs",
                      "tracking_number": "",
                      "tpl_integration_type": "ozon",
                      "in_process_at": "2026-05-04T06:44:37Z",
                      "integration_type_flow": "ozon",
                      "shipment_date": "2026-05-05T06:44:37Z",
                      "shipment_date_without_delay": "2026-05-06T04:00:00Z",
                      "sorting_center": null,
                      "optional": {
                        "products_with_possible_mandatory_mark": [
                          4116250392
                        ]
                      },
                      "cancellation": {
                        "cancel_reason_id": 0,
                        "cancel_reason": "",
                        "cancellation_type": "",
                        "cancelled_after_ship": false,
                        "affect_cancellation_rating": false,
                        "cancellation_initiator": ""
                      },
                      "customer": null,
                      "products": [
                        {
                          "is_blr_traceable": false,
                          "is_marketplace_buyout": false,
                          "offer_id": "S5200657-28",
                          "name": "\u041A\u0440\u043E\u0441\u0441\u043E\u0432\u043A\u0438 \u0434\u043B\u044F \u043C\u0430\u043B\u044C\u0447\u0438\u043A\u0430 \u0434\u0435\u043C\u0438\u0441\u0435\u0437\u043E\u043D\u043D\u044B\u0435 \u0438\u0437 \u043D\u0430\u0442\u0443\u0440\u0430\u043B\u044C\u043D\u043E\u0439 \u043A\u043E\u0436\u0438",
                          "sku": 4116250392,
                          "quantity": 1,
                          "imei": [],
                          "weight": 0.549,
                          "product_color": "\u0442\u0435\u043C\u043D\u043E-\u0441\u0438\u043D\u0438\u0439",
                          "price": {
                            "amount": "300",
                            "currency": "RUB"
                          }
                        }
                      ],
                      "addressee": null,
                      "barcodes": {
                        "upper_barcode": "0",
                        "lower_barcode": "0"
                      },
                      "analytics_data": {
                        "region": "",
                        "city": "",
                        "delivery_type": "PVZ",
                        "is_premium": false,
                        "payment_type_group_name": "\u0411\u0430\u043D\u043A\u043E\u0432\u0441\u043A\u0430\u044F \u043A\u0430\u0440\u0442\u0430",
                        "warehouse_id": 20605650762000,
                        "warehouse": "17023",
                        "tpl_provider_id": 24,
                        "tpl_provider": "\u0414\u043E\u0441\u0442\u0430\u0432\u043A\u0430 Ozon",
                        "delivery_date_begin": "2026-05-05T06:38:10Z",
                        "delivery_date_end": "2026-05-06T06:38:10Z",
                        "is_legal": true,
                        "client_delivery_date_begin": null,
                        "client_delivery_date_end": null
                      },
                      "destination_place_id": 0,
                      "destination_place_name": "",
                      "financial_data": {
                        "products": [
                          {
                            "payout": 0,
                            "product_id": 4116250392,
                            "old_price": 300,
                            "price": 300,
                            "total_discount_value": 0,
                            "total_discount_percent": 0,
                            "quantity": 1,
                            "customer_price": {
                              "amount": "300",
                              "currency": "RUB"
                            },
                            "actions": [],
                            "commission": {
                              "amount": 0,
                              "percent": 0,
                              "currency": "RUB"
                            }
                          }
                        ],
                        "cluster_from": "\u041C\u043E\u0441\u043A\u0432\u0430, \u041C\u041E \u0438 \u0414\u0430\u043B\u044C\u043D\u0438\u0435 \u0440\u0435\u0433\u0438\u043E\u043D\u044B",
                        "cluster_to": "\u041C\u043E\u0441\u043A\u0432\u0430, \u041C\u041E \u0438 \u0414\u0430\u043B\u044C\u043D\u0438\u0435 \u0440\u0435\u0433\u0438\u043E\u043D\u044B"
                      },
                      "is_express": false,
                      "legal_info": {
                        "company_name": "",
                        "inn": "",
                        "kpp": ""
                      },
                      "quantum_id": 0,
                      "require_blr_traceable_attrs": false,
                      "requirements": {
                        "products_requiring_gtd": [
                          4116250392
                        ],
                        "products_requiring_country": [],
                        "products_requiring_mandatory_mark": [],
                        "products_requiring_rnpt": [],
                        "products_requiring_jw_uin": [],
                        "products_requiring_change_country": [],
                        "products_requiring_imei": [],
                        "products_requiring_weight": []
                      },
                      "tariffication": {
                        "current_tariff_rate": 3,
                        "current_tariff_type": "commission",
                        "current_tariff_charge": {
                          "amount": "100",
                          "currency": "RUB"
                        },
                        "current_tariff_min_charge": {
                          "amount": "100",
                          "currency": "RUB"
                        },
                        "next_tariff_rate": 0,
                        "next_tariff_type": "",
                        "next_tariff_charge": null,
                        "next_tariff_min_charge": null,
                        "next_tariff_starts_at": null
                      },
                      "external_order": {
                        "is_external": false,
                        "platform_name": ""
                      },
                      "volume_weight": 0,
                      "is_click_and_collect": false,
                      "delivering_date": null,
                      "is_multibox": false,
                      "multi_box_qty": 1,
                      "is_presortable": false,
                      "prr_option": "",
                      "parent_posting_number": "",
                      "available_actions": [
                        "add_additional_info",
                        "cancel",
                        "has_barcode_for_printing",
                        "label_download",
                        "label_download_small"
                      ],
                      "tariffication_steps": [
                        {
                          "min_charge": null,
                          "tariff_charge": {
                            "amount": "9",
                            "currency": "RUB"
                          },
                          "tariff_deadline_at": "2026-05-04T18:44:37Z",
                          "tariff_rate": 3,
                          "tariff_type": "discount"
                        },
                        {
                          "min_charge": null,
                          "tariff_charge": {
                            "amount": "6",
                            "currency": "RUB"
                          },
                          "tariff_deadline_at": "2026-05-05T06:44:37Z",
                          "tariff_rate": 2,
                          "tariff_type": "discount"
                        },
                        {
                          "min_charge": {
                            "amount": "50",
                            "currency": "RUB"
                          },
                          "tariff_charge": {
                            "amount": "50",
                            "currency": "RUB"
                          },
                          "tariff_deadline_at": "2026-05-05T18:44:37Z",
                          "tariff_rate": 1,
                          "tariff_type": "commission"
                        },
                        {
                          "min_charge": {
                            "amount": "100",
                            "currency": "RUB"
                          },
                          "tariff_charge": {
                            "amount": "100",
                            "currency": "RUB"
                          },
                          "tariff_deadline_at": "2026-05-06T06:44:37Z",
                          "tariff_rate": 2,
                          "tariff_type": "commission"
                        },
                        {
                          "min_charge": {
                            "amount": "100",
                            "currency": "RUB"
                          },
                          "tariff_charge": {
                            "amount": "100",
                            "currency": "RUB"
                          },
                          "tariff_deadline_at": "9999-12-31T23:59:59.999999900Z",
                          "tariff_rate": 3,
                          "tariff_type": "commission"
                        }
                      ],
                      "container_sort_type": "sort",
                      "container": null
                    }
                  ],
                  "count": 2177
                }
              }
            }
          },
          "400": {
            "description": "\u041D\u0435\u0432\u0435\u0440\u043D\u044B\u0439 \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "\u0414\u043E\u0441\u0442\u0443\u043F \u0437\u0430\u043F\u0440\u0435\u0449\u0451\u043D",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "\u041E\u0442\u0432\u0435\u0442 \u043D\u0435 \u043D\u0430\u0439\u0434\u0435\u043D",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "\u041A\u043E\u043D\u0444\u043B\u0438\u043A\u0442 \u0437\u0430\u043F\u0440\u043E\u0441\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "\u0412\u043D\u0443\u0442\u0440\u0435\u043D\u043D\u044F\u044F \u043E\u0448\u0438\u0431\u043A\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v3/posting/fbs/get": {
      "post": {
        "summary": "\u041F\u043E\u043B\u0443\u0447\u0438\u0442\u044C \u0438\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044E \u043E\u0431 \u043E\u0442\u043F\u0440\u0430\u0432\u043B\u0435\u043D\u0438\u0438 \u043F\u043E \u0438\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440\u0443",
        "description": "\u0427\u0442\u043E\u0431\u044B \u043F\u043E\u043B\u0443\u0447\u0430\u0442\u044C \u0430\u043A\u0442\u0443\u0430\u043B\u044C\u043D\u0443\u044E \u0434\u0430\u0442\u0443 \u043E\u0442\u0433\u0440\u0443\u0437\u043A\u0438, \u0440\u0435\u0433\u0443\u043B\u044F\u0440\u043D\u043E \u043E\u0431\u043D\u043E\u0432\u043B\u044F\u0439\u0442\u0435 \u0438\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044E \u043E\u0431 \u043E\u0442\u043F\u0440\u0430\u0432\u043B\u0435\u043D\u0438\u044F\u0445 \u0438\u043B\u0438 \u043F\u043E\u0434\u043A\u043B\u044E\u0447\u0438\u0442\u0435 [\u043F\u0443\u0448-\u0443\u0432\u0435\u0434\u043E\u043C\u043B\u0435\u043D\u0438\u044F](#tag/push_start).",
        "operationId": "PostingAPI_GetFbsPostingV3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postingv3GetFbsPostingRequest"
              },
              "example": {
                "posting_number": "57195475-0050-3",
                "with": {
                  "analytics_data": false,
                  "barcodes": false,
                  "financial_data": false,
                  "legal_info": false,
                  "product_exemplars": false,
                  "related_postings": true,
                  "translit": false
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "\u0418\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044F \u043E\u0431 \u043E\u0442\u043F\u0440\u0430\u0432\u043B\u0435\u043D\u0438\u0438",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v3GetFbsPostingResponseV3"
                },
                "example": {
                  "result": {
                    "posting_number": "0132112277-0101-1",
                    "order_id": 35566798085,
                    "order_number": "0132112277-0101",
                    "status": "awaiting_packaging",
                    "external_order": {
                      "is_external": false,
                      "platform_name": ""
                    },
                    "delivery_method": {
                      "id": 1020005003107121,
                      "name": "\u0414\u043E\u0441\u0442\u0430\u0432\u043A\u0430 Ozon \u0441\u0430\u043C\u043E\u0441\u0442\u043E\u044F\u0442\u0435\u043B\u044C\u043D\u043E, \u041D\u043E\u0433\u0438\u043D\u0441\u043A",
                      "warehouse_id": 1020005003107121,
                      "warehouse": "FBS LikeSK",
                      "tpl_provider_id": 24,
                      "tpl_provider": "\u0414\u043E\u0441\u0442\u0430\u0432\u043A\u0430 Ozon"
                    },
                    "tracking_number": "",
                    "tpl_integration_type": "ozon",
                    "in_process_at": "2026-03-30T11:26:00Z",
                    "integration_type_flow": "ozon",
                    "shipment_date": "2026-03-31T09:00:00Z",
                    "delivering_date": null,
                    "provider_status": "",
                    "delivery_price": "",
                    "cancellation": {
                      "cancel_reason_id": 0,
                      "cancel_reason": "",
                      "cancellation_type": "",
                      "cancelled_after_ship": false,
                      "affect_cancellation_rating": false,
                      "cancellation_initiator": ""
                    },
                    "container": {
                      "cargo_type": "BOX",
                      "container_date": "string",
                      "container_id": 0,
                      "container_number": 0
                    },
                    "container_sort_type": "string",
                    "customer": null,
                    "addressee": null,
                    "products": [
                      {
                        "price": "1530.0000",
                        "offer_id": "SK-58 (\u043C\u0430\u043B\u0438\u043D\u043E\u0432\u044B\u0439)",
                        "name": "\u041F\u0440\u043E\u0444\u0435\u0441\u0441\u0438\u043E\u043D\u0430\u043B\u044C\u043D\u0430\u044F \u043F\u043B\u043E\u0439\u043A\u0430 Cronier cr-2013 \u0434\u043B\u044F \u0430\u0444\u0440\u043E \u043A\u0443\u0434\u0440\u0435\u0439 9 \u043C\u043C",
                        "sku": 827098843,
                        "quantity": 1,
                        "dimensions": {
                          "height": "150.00",
                          "length": "500.00",
                          "weight": "550",
                          "width": "300.00"
                        },
                        "currency_code": "RUB",
                        "is_blr_traceable": false,
                        "is_marketplace_buyout": false,
                        "has_imei": false,
                        "weight_max": 0.55,
                        "weight_min": 0,
                        "is_weight_needed": false
                      }
                    ],
                    "barcodes": null,
                    "analytics_data": null,
                    "financial_data": null,
                    "additional_data": [],
                    "is_express": false,
                    "requirements": {
                      "products_requiring_gtd": [],
                      "products_requiring_country": [],
                      "products_requiring_mandatory_mark": [],
                      "products_requiring_rnpt": [],
                      "products_requiring_jw_uin": [],
                      "products_requiring_change_country": [],
                      "products_requiring_imei": [],
                      "products_requiring_weight": []
                    },
                    "product_exemplars": null,
                    "courier": null,
                    "parent_posting_number": "",
                    "related_postings": null,
                    "available_actions": [
                      "cancel",
                      "has_barcode_for_printing",
                      "product_cancel",
                      "ship",
                      "ship_async"
                    ],
                    "multi_box_qty": 1,
                    "is_multibox": false,
                    "substatus": "posting_created",
                    "previous_substatus": "posting_split_pending",
                    "prr_option": {
                      "code": "",
                      "price": "",
                      "currency_code": "RUB",
                      "floor": ""
                    },
                    "tariffication": {
                      "current_tariff_rate": 1,
                      "current_tariff_type": "no_discount",
                      "current_tariff_charge": "",
                      "current_tariff_charge_currency_code": "RUB",
                      "next_tariff_rate": 1,
                      "next_tariff_type": "commission",
                      "next_tariff_charge": "50",
                      "next_tariff_starts_at": "2026-03-31T09:00:01Z",
                      "next_tariff_charge_currency_code": "RUB"
                    },
                    "destination_place_id": 0,
                    "destination_place_name": "",
                    "is_presortable": false,
                    "pickup_code_verified_at": null,
                    "optional": {
                      "products_with_possible_mandatory_mark": []
                    },
                    "fact_delivery_date": null,
                    "legal_info": {
                      "company_name": "",
                      "inn": "",
                      "kpp": ""
                    },
                    "related_weight_postings": [],
                    "shipment_date_without_delay": "2026-04-04T16:59:00Z",
                    "sorting_center": null,
                    "require_blr_traceable_attrs": false,
                    "is_click_and_collect": false,
                    "tariffication_steps": [
                      {
                        "min_charge": null,
                        "tariff_charge": {
                          "amount": "0",
                          "currency": "RUB"
                        },
                        "tariff_deadline_at": "2026-03-31T09:00:00Z",
                        "tariff_rate": 0,
                        "tariff_type": "no_discount"
                      },
                      {
                        "min_charge": {
                          "amount": "50",
                          "currency": "RUB"
                        },
                        "tariff_charge": {
                          "amount": "50",
                          "currency": "RUB"
                        },
                        "tariff_deadline_at": "2026-03-31T21:00:00Z",
                        "tariff_rate": 1,
                        "tariff_type": "commission"
                      },
                      {
                        "min_charge": {
                          "amount": "50",
                          "currency": "RUB"
                        },
                        "tariff_charge": {
                          "amount": "50",
                          "currency": "RUB"
                        },
                        "tariff_deadline_at": "2026-04-01T09:00:00Z",
                        "tariff_rate": 1,
                        "tariff_type": "commission"
                      },
                      {
                        "min_charge": {
                          "amount": "100",
                          "currency": "RUB"
                        },
                        "tariff_charge": {
                          "amount": "100",
                          "currency": "RUB"
                        },
                        "tariff_deadline_at": "2026-04-01T21:00:00Z",
                        "tariff_rate": 2,
                        "tariff_type": "commission"
                      },
                      {
                        "min_charge": {
                          "amount": "100",
                          "currency": "RUB"
                        },
                        "tariff_charge": {
                          "amount": "100",
                          "currency": "RUB"
                        },
                        "tariff_deadline_at": "2026-04-02T09:00:00Z",
                        "tariff_rate": 2,
                        "tariff_type": "commission"
                      },
                      {
                        "min_charge": {
                          "amount": "150",
                          "currency": "RUB"
                        },
                        "tariff_charge": {
                          "amount": "150",
                          "currency": "RUB"
                        },
                        "tariff_deadline_at": "9999-12-31T23:59:59.999999900Z",
                        "tariff_rate": 3,
                        "tariff_type": "commission"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u041D\u0435\u0432\u0435\u0440\u043D\u044B\u0439 \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "\u0414\u043E\u0441\u0442\u0443\u043F \u0437\u0430\u043F\u0440\u0435\u0449\u0451\u043D",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "\u041E\u0442\u0432\u0435\u0442 \u043D\u0435 \u043D\u0430\u0439\u0434\u0435\u043D",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "\u041A\u043E\u043D\u0444\u043B\u0438\u043A\u0442 \u0437\u0430\u043F\u0440\u043E\u0441\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "\u0412\u043D\u0443\u0442\u0440\u0435\u043D\u043D\u044F\u044F \u043E\u0448\u0438\u0431\u043A\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "FBS"
        ]
      }
    },
    "/v2/posting/fbs/package-label": {
      "post": {
        "summary": "\u041D\u0430\u043F\u0435\u0447\u0430\u0442\u0430\u0442\u044C \u044D\u0442\u0438\u043A\u0435\u0442\u043A\u0443",
        "description": "\u003Caside class=\u0022warning\u0022\u003E\n\u0415\u0441\u043B\u0438 \u0432\u044B \u0440\u0430\u0431\u043E\u0442\u0430\u0435\u0442\u0435 \u043F\u043E \u0441\u0445\u0435\u043C\u0435 rFBS \u0438\u043B\u0438 rFBS Express, \u0438\u0437\u0443\u0447\u0438\u0442\u0435 \u043F\u0440\u043E\u0446\u0435\u0441\u0441 \u043F\u0435\u0447\u0430\u0442\u0438 \u044D\u0442\u0438\u043A\u0435\u0442\u043A\u0438 \u0432 \u003Ca href=\u0022https://seller-edu.ozon.ru/rfbs/scheme-of-work\u0022\u003E\u0411\u0430\u0437\u0435 \u0437\u043D\u0430\u043D\u0438\u0439 \u043F\u0440\u043E\u0434\u0430\u0432\u0446\u0430\u003C/a\u003E.\n\u003C/aside\u003E\n\n\u0413\u0435\u043D\u0435\u0440\u0438\u0440\u0443\u0435\u0442 PDF-\u0444\u0430\u0439\u043B \u0441 \u044D\u0442\u0438\u043A\u0435\u0442\u043A\u0430\u043C\u0438 \u0434\u043B\u044F \u0443\u043A\u0430\u0437\u0430\u043D\u043D\u044B\u0445 \u043E\u0442\u043F\u0440\u0430\u0432\u043B\u0435\u043D\u0438\u0439 \u0432 \u0441\u0442\u0430\u0442\u0443\u0441\u0435 \u00AB\u041E\u0436\u0438\u0434\u0430\u0435\u0442 \u043E\u0442\u0433\u0440\u0443\u0437\u043A\u0438\u00BB \u2014 \u0060awaiting_deliver\u0060. \u0412 \u043E\u0434\u043D\u043E\u043C \u0437\u0430\u043F\u0440\u043E\u0441\u0435 \u043C\u043E\u0436\u043D\u043E \u043F\u0435\u0440\u0435\u0434\u0430\u0442\u044C \u043D\u0435 \u0431\u043E\u043B\u044C\u0448\u0435 20 \u0438\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440\u043E\u0432. \u0415\u0441\u043B\u0438 \u0445\u043E\u0442\u044F \u0431\u044B \u0434\u043B\u044F \u043E\u0434\u043D\u043E\u0433\u043E \u043E\u0442\u043F\u0440\u0430\u0432\u043B\u0435\u043D\u0438\u044F \u0432\u043E\u0437\u043D\u0438\u043A\u043D\u0435\u0442 \u043E\u0448\u0438\u0431\u043A\u0430, \u044D\u0442\u0438\u043A\u0435\u0442\u043A\u0438 \u043D\u0435 \u0431\u0443\u0434\u0443\u0442 \u043F\u043E\u0434\u0433\u043E\u0442\u043E\u0432\u043B\u0435\u043D\u044B \u0434\u043B\u044F \u0432\u0441\u0435\u0445 \u043E\u0442\u043F\u0440\u0430\u0432\u043B\u0435\u043D\u0438\u0439 \u0432 \u0437\u0430\u043F\u0440\u043E\u0441\u0435.\n\n\u0420\u0435\u043A\u043E\u043C\u0435\u043D\u0434\u0443\u0435\u043C \u0437\u0430\u043F\u0440\u0430\u0448\u0438\u0432\u0430\u0442\u044C \u044D\u0442\u0438\u043A\u0435\u0442\u043A\u0438 \u0447\u0435\u0440\u0435\u0437 45\u201360 \u0441\u0435\u043A\u0443\u043D\u0434 \u043F\u043E\u0441\u043B\u0435 \u0441\u0431\u043E\u0440\u043A\u0438 \u0437\u0430\u043A\u0430\u0437\u0430.\n\n\u041E\u0448\u0438\u0431\u043A\u0430 \u0060The next postings aren\u0027t ready\u0060 \u043E\u0437\u043D\u0430\u0447\u0430\u0435\u0442, \u0447\u0442\u043E \u044D\u0442\u0438\u043A\u0435\u0442\u043A\u0438 \u0435\u0449\u0451 \u043D\u0435 \u0433\u043E\u0442\u043E\u0432\u044B, \u043F\u043E\u0432\u0442\u043E\u0440\u0438\u0442\u0435 \u0437\u0430\u043F\u0440\u043E\u0441 \u043F\u043E\u0437\u0434\u043D\u0435\u0435.\n",
        "operationId": "PostingAPI_PostingFBSPackageLabel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postingPostingFBSPackageLabelRequest"
              },
              "example": {
                "posting_number": [
                  "48173252-0034-4"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "\u041C\u0430\u0440\u043A\u0438\u0440\u043E\u0432\u043A\u0430 \u043D\u0430\u043F\u0435\u0447\u0430\u0442\u0430\u043D\u0430",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "\u041D\u0435\u0432\u0435\u0440\u043D\u044B\u0439 \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "\u0414\u043E\u0441\u0442\u0443\u043F \u0437\u0430\u043F\u0440\u0435\u0449\u0451\u043D",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "\u041E\u0442\u0432\u0435\u0442 \u043D\u0435 \u043D\u0430\u0439\u0434\u0435\u043D",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "\u041A\u043E\u043D\u0444\u043B\u0438\u043A\u0442 \u0437\u0430\u043F\u0440\u043E\u0441\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "\u0412\u043D\u0443\u0442\u0440\u0435\u043D\u043D\u044F\u044F \u043E\u0448\u0438\u0431\u043A\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "FBS"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AvailabilityReason": {
        "type": "object",
        "properties": {
          "human_text": {
            "$ref": "#/components/schemas/ReasonHumanText"
          },
          "id": {
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u043F\u0440\u0438\u0447\u0438\u043D\u044B.",
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CompanyTaxSystemEnum": {
        "type": "string",
        "description": "\u0421\u0438\u0441\u0442\u0435\u043C\u0430 \u043D\u0430\u043B\u043E\u0433\u043E\u043E\u0431\u043B\u043E\u0436\u0435\u043D\u0438\u044F:\n- \u0060UNKNOWN\u0060 \u2014 \u043D\u0435\u0438\u0437\u0432\u0435\u0441\u0442\u043D\u0430\u044F,\n- \u0060UNSPECIFIED\u0060 \u2014 \u043D\u0435 \u043E\u043F\u0440\u0435\u0434\u0435\u043B\u0435\u043D\u0430,\n- \u0060OSNO\u0060 \u2014 \u041E\u0421\u041D\u041E,\n- \u0060USN\u0060 \u2014 \u0423\u0421\u041D,\n- \u0060NPD\u0060 \u2014 \u041D\u041F\u0414,\n- \u0060AUSN\u0060 \u2014 \u0410\u0423\u0421\u041D,\n- \u0060PSN\u0060 \u2014 \u041F\u0421\u041D.\n",
        "default": "UNKNOWN",
        "enum": [
          "UNKNOWN",
          "UNSPECIFIED",
          "OSNO",
          "USN",
          "NPD",
          "AUSN",
          "PSN"
        ]
      },
      "ErrorErrorLevel": {
        "type": "string",
        "title": "object",
        "default": "ERROR_LEVEL_UNSPECIFIED",
        "enum": [
          "ERROR_LEVEL_UNSPECIFIED",
          "ERROR_LEVEL_ERROR",
          "ERROR_LEVEL_WARNING",
          "ERROR_LEVEL_INTERNAL"
        ],
        "description": "\u041E\u043F\u0438\u0441\u0430\u043D\u0438\u0435 \u0443\u0440\u043E\u0432\u043D\u0435\u0439 \u043E\u0448\u0438\u0431\u043E\u043A: \n  - \u0060ERROR_LEVEL_UNSPECIFIED\u0060 \u2014 \u043D\u0435 \u043E\u043F\u0440\u0435\u0434\u0435\u043B\u0451\u043D;\n  - \u0060ERROR_LEVEL_ERROR\u0060 \u2014 \u043A\u0440\u0438\u0442\u0438\u0447\u043D\u0430\u044F \u043E\u0448\u0438\u0431\u043A\u0430, \u0442\u043E\u0432\u0430\u0440 \u043D\u0435\u043B\u044C\u0437\u044F \u043F\u0440\u043E\u0434\u0430\u0432\u0430\u0442\u044C;\n  - \u0060ERROR_LEVEL_INTERNAL\u0060 \u2014 \u043A\u0440\u0438\u0442\u0438\u0447\u043D\u0430\u044F \u043E\u0448\u0438\u0431\u043A\u0430, \u0442\u043E\u0432\u0430\u0440 \u043D\u0435\u043B\u044C\u0437\u044F \u043F\u0440\u043E\u0434\u0430\u0432\u0430\u0442\u044C.\n  - \u0060ERROR_LEVEL_WARNING\u0060 \u2014 \u043D\u0435\u043A\u0440\u0438\u0442\u0438\u0447\u043D\u0430\u044F \u043E\u0448\u0438\u0431\u043A\u0430, \u0442\u043E\u0432\u0430\u0440 \u043C\u043E\u0436\u043D\u043E \u043F\u0440\u043E\u0434\u0430\u0432\u0430\u0442\u044C.\n\n[\u041F\u043E\u0434\u0440\u043E\u0431\u043D\u0435\u0435 \u043E\u0431 \u043E\u0448\u0438\u0431\u043A\u0430\u0445 \u043F\u0440\u0438 \u0441\u043E\u0437\u0434\u0430\u043D\u0438\u0438 \u0442\u043E\u0432\u0430\u0440\u0430 \u0432 \u0411\u0430\u0437\u0435 \u0437\u043D\u0430\u043D\u0438\u0439 \u043F\u0440\u043E\u0434\u0430\u0432\u0446\u0430](https://seller-edu.ozon.ru/work-with-goods/zagruzka-tovarov/creating-goods/oshibki-pri-rabote-s-kartochkami)             \n"
      },
      "ErrorHumanTexts": {
        "type": "object",
        "title": "object",
        "description": "\u041E\u043F\u0438\u0441\u0430\u043D\u0438\u0435 \u043E\u0448\u0438\u0431\u043E\u043A.",
        "properties": {
          "attribute_name": {
            "type": "string",
            "description": "\u041D\u0430\u0437\u0432\u0430\u043D\u0438\u0435 \u0430\u0442\u0440\u0438\u0431\u0443\u0442\u0430, \u0432 \u043A\u043E\u0442\u043E\u0440\u043E\u043C \u043F\u0440\u043E\u0438\u0437\u043E\u0448\u043B\u0430 \u043E\u0448\u0438\u0431\u043A\u0430."
          },
          "description": {
            "type": "string",
            "description": "\u041E\u043F\u0438\u0441\u0430\u043D\u0438\u0435 \u043E\u0448\u0438\u0431\u043A\u0438."
          },
          "hint_code": {
            "description": "\u041A\u043E\u0434 \u043E\u0448\u0438\u0431\u043A\u0438 \u0432 \u0441\u0438\u0441\u0442\u0435\u043C\u0435 Ozon.",
            "type": "string"
          },
          "message": {
            "description": "\u0422\u0435\u043A\u0441\u0442 \u043E\u0448\u0438\u0431\u043A\u0438.",
            "type": "string"
          },
          "params": {
            "description": "\u0412 \u043A\u0430\u043A\u0438\u0445 \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440\u0430\u0445 \u0434\u043E\u043F\u0443\u0449\u0435\u043D\u0430 \u043E\u0448\u0438\u0431\u043A\u0430.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HumanTextsParam"
            }
          },
          "short_description": {
            "description": "\u041A\u0440\u0430\u0442\u043A\u043E\u0435 \u043E\u043F\u0438\u0441\u0430\u043D\u0438\u0435 \u043E\u0448\u0438\u0431\u043A\u0438.",
            "type": "string"
          }
        }
      },
      "FbsPostingDetailCourier": {
        "type": "object",
        "title": "object",
        "description": "\u0414\u0430\u043D\u043D\u044B\u0435 \u043E \u043A\u0443\u0440\u044C\u0435\u0440\u0435.",
        "properties": {
          "car_model": {
            "type": "string",
            "description": "\u041C\u043E\u0434\u0435\u043B\u044C \u0430\u0432\u0442\u043E\u043C\u043E\u0431\u0438\u043B\u044F."
          },
          "car_number": {
            "type": "string",
            "description": "\u041D\u043E\u043C\u0435\u0440 \u0430\u0432\u0442\u043E\u043C\u043E\u0431\u0438\u043B\u044F."
          },
          "name": {
            "type": "string",
            "description": "\u041F\u043E\u043B\u043D\u043E\u0435 \u0438\u043C\u044F \u043A\u0443\u0440\u044C\u0435\u0440\u0430."
          },
          "phone": {
            "type": "string",
            "description": "\u0422\u0435\u043B\u0435\u0444\u043E\u043D \u043A\u0443\u0440\u044C\u0435\u0440\u0430. \n\n\u0412\u0441\u0435\u0433\u0434\u0430 \u0432\u043E\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u043F\u0443\u0441\u0442\u0443\u044E \u0441\u0442\u0440\u043E\u043A\u0443 \u0060\u0022\u0022\u0060.\n"
          }
        }
      },
      "FbsPostingDetailPrrOption": {
        "type": "object",
        "title": "object",
        "description": "\u0418\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044F \u043E\u0431 \u0443\u0441\u043B\u0443\u0433\u0435 \u043F\u043E\u0433\u0440\u0443\u0437\u043E\u0447\u043D\u043E-\u0440\u0430\u0437\u0433\u0440\u0443\u0437\u043E\u0447\u043D\u044B\u0445 \u0440\u0430\u0431\u043E\u0442. \u0410\u043A\u0442\u0443\u0430\u043B\u044C\u043D\u043E \u0434\u043B\u044F \u041A\u0413\u0422-\u043E\u0442\u043F\u0440\u0430\u0432\u043B\u0435\u043D\u0438\u0439 \u0441 \u0434\u043E\u0441\u0442\u0430\u0432\u043A\u043E\u0439 \u0441\u0438\u043B\u0430\u043C\u0438 \u043F\u0440\u043E\u0434\u0430\u0432\u0446\u0430 \u0438\u043B\u0438 \u0438\u043D\u0442\u0435\u0433\u0440\u0438\u0440\u043E\u0432\u0430\u043D\u043D\u043E\u0439 \u0441\u043B\u0443\u0436\u0431\u043E\u0439.",
        "properties": {
          "code": {
            "type": "string",
            "description": "\u041A\u043E\u0434 \u0443\u0441\u043B\u0443\u0433\u0438 \u043F\u043E\u0433\u0440\u0443\u0437\u043E\u0447\u043D\u043E-\u0440\u0430\u0437\u0433\u0440\u0443\u0437\u043E\u0447\u043D\u044B\u0445 \u0440\u0430\u0431\u043E\u0442:\n- \u0060lift\u0060 \u2014 \u043F\u043E\u0434\u044A\u0451\u043C \u043D\u0430 \u043B\u0438\u0444\u0442\u0435.\n- \u0060stairs\u0060 \u2014 \u043F\u043E\u0434\u044A\u0451\u043C \u043F\u043E \u043B\u0435\u0441\u0442\u043D\u0438\u0446\u0435.\n- \u0060none\u0060 \u2014 \u043F\u043E\u043A\u0443\u043F\u0430\u0442\u0435\u043B\u044C \u043E\u0442\u043A\u0430\u0437\u0430\u043B\u0441\u044F \u043E\u0442 \u0443\u0441\u043B\u0443\u0433\u0438, \u043F\u043E\u0434\u043D\u0438\u043C\u0430\u0442\u044C \u0442\u043E\u0432\u0430\u0440\u044B \u043D\u0435 \u043D\u0443\u0436\u043D\u043E.\n- \u0060delivery_default\u0060 \u2014 \u0434\u043E\u0441\u0442\u0430\u0432\u043A\u0430 \u0432\u043A\u043B\u044E\u0447\u0435\u043D\u0430 \u0432 \u0441\u0442\u043E\u0438\u043C\u043E\u0441\u0442\u044C, \u043F\u043E \u0443\u0441\u043B\u043E\u0432\u0438\u044F\u043C \u043E\u0444\u0435\u0440\u0442\u044B \u043D\u0443\u0436\u043D\u043E \u0434\u043E\u0441\u0442\u0430\u0432\u0438\u0442\u044C \u0442\u043E\u0432\u0430\u0440 \u043D\u0430 \u044D\u0442\u0430\u0436.\n"
          },
          "price": {
            "type": "string",
            "description": "\u0421\u0442\u043E\u0438\u043C\u043E\u0441\u0442\u044C \u0443\u0441\u043B\u0443\u0433\u0438, \u043A\u043E\u0442\u043E\u0440\u0443\u044E Ozon \u043A\u043E\u043C\u043F\u0435\u043D\u0441\u0438\u0440\u0443\u0435\u0442 \u043F\u0440\u043E\u0434\u0430\u0432\u0446\u0443."
          },
          "currency_code": {
            "type": "string",
            "description": "\u0412\u0430\u043B\u044E\u0442\u0430."
          },
          "floor": {
            "type": "string",
            "description": "\u042D\u0442\u0430\u0436, \u043D\u0430 \u043A\u043E\u0442\u043E\u0440\u044B\u0439 \u043D\u0443\u0436\u043D\u043E \u043F\u043E\u0434\u043D\u044F\u0442\u044C \u0442\u043E\u0432\u0430\u0440."
          }
        }
      },
      "FirstMileTypeEnum": {
        "type": "string",
        "default": "UNSPECIFIED",
        "description": "\u0422\u0438\u043F \u043F\u0435\u0440\u0432\u043E\u0439 \u043C\u0438\u043B\u0438 \u2014 \u0060PICK_UP\u0060 \u0438\u043B\u0438 \u0060DROP_OFF\u0060.",
        "enum": [
          "UNSPECIFIED",
          "PICK_UP",
          "DROP_OFF"
        ]
      },
      "GetProductInfoListResponseAvailability": {
        "type": "object",
        "properties": {
          "availability": {
            "description": "\u0414\u043E\u0441\u0442\u0443\u043F\u043D\u043E\u0441\u0442\u044C \u0442\u043E\u0432\u0430\u0440\u0430.",
            "type": "string"
          },
          "reasons": {
            "description": "\u041F\u0440\u0438\u0447\u0438\u043D\u0430, \u043F\u043E\u0447\u0435\u043C\u0443 \u0442\u043E\u0432\u0430\u0440 \u0441\u043A\u0440\u044B\u0442.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AvailabilityReason"
            }
          },
          "sku": {
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u0442\u043E\u0432\u0430\u0440\u0430.",
            "type": "integer",
            "format": "int64"
          },
          "source": {
            "description": "\u0421\u0441\u044B\u043B\u043A\u0430 \u043D\u0430 \u0438\u0441\u0442\u043E\u0447\u043D\u0438\u043A.",
            "type": "string"
          }
        }
      },
      "GetProductInfoListResponseCommission": {
        "type": "object",
        "title": "object",
        "properties": {
          "delivery_amount": {
            "type": "number",
            "format": "double",
            "description": "\u0421\u0442\u043E\u0438\u043C\u043E\u0441\u0442\u044C \u0434\u043E\u0441\u0442\u0430\u0432\u043A\u0438."
          },
          "percent": {
            "type": "number",
            "format": "double",
            "description": "\u041F\u0440\u043E\u0446\u0435\u043D\u0442 \u043A\u043E\u043C\u0438\u0441\u0441\u0438\u0438."
          },
          "return_amount": {
            "description": "\u0421\u0442\u043E\u0438\u043C\u043E\u0441\u0442\u044C \u0432\u043E\u0437\u0432\u0440\u0430\u0442\u0430.",
            "type": "number",
            "format": "double"
          },
          "sale_schema": {
            "type": "string",
            "description": "\u0421\u0445\u0435\u043C\u0430 \u043F\u0440\u043E\u0434\u0430\u0436\u0438."
          },
          "value": {
            "type": "number",
            "format": "double",
            "description": "\u0421\u0443\u043C\u043C\u0430 \u043A\u043E\u043C\u0438\u0441\u0441\u0438\u0438."
          }
        }
      },
      "GetProductInfoListResponseError": {
        "type": "object",
        "title": "object",
        "properties": {
          "attribute_id": {
            "type": "integer",
            "format": "int64",
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u0445\u0430\u0440\u0430\u043A\u0442\u0435\u0440\u0438\u0441\u0442\u0438\u043A\u0438."
          },
          "code": {
            "type": "string",
            "description": "\u041A\u043E\u0434 \u043E\u0448\u0438\u0431\u043A\u0438."
          },
          "field": {
            "type": "string",
            "description": "\u041F\u043E\u043B\u0435, \u0432 \u043A\u043E\u0442\u043E\u0440\u043E\u043C \u043D\u0430\u0439\u0434\u0435\u043D\u0430 \u043E\u0448\u0438\u0431\u043A\u0430."
          },
          "level": {
            "$ref": "#/components/schemas/ErrorErrorLevel"
          },
          "state": {
            "type": "string",
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u0442\u043E\u0432\u0430\u0440\u0430, \u0432 \u043A\u043E\u0442\u043E\u0440\u043E\u043C \u043F\u0440\u043E\u0438\u0437\u043E\u0448\u043B\u0430 \u043E\u0448\u0438\u0431\u043A\u0430."
          },
          "texts": {
            "$ref": "#/components/schemas/ErrorHumanTexts"
          }
        }
      },
      "GetProductInfoListResponseModelInfo": {
        "type": "object",
        "title": "object",
        "description": "\u0418\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044F \u043E \u043C\u043E\u0434\u0435\u043B\u0438 \u0442\u043E\u0432\u0430\u0440\u0430.",
        "properties": {
          "count": {
            "description": "\u041A\u043E\u043B\u0438\u0447\u0435\u0441\u0442\u0432\u043E \u0442\u043E\u0432\u0430\u0440\u043E\u0432 \u0432 \u043E\u0442\u0432\u0435\u0442\u0435.",
            "type": "integer",
            "format": "int64"
          },
          "model_id": {
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u043C\u043E\u0434\u0435\u043B\u0438 \u0442\u043E\u0432\u0430\u0440\u0430.",
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "GetProductInfoListResponsePriceIndexes": {
        "type": "object",
        "title": "object",
        "description": "\u0426\u0435\u043D\u043E\u0432\u044B\u0435 \u0438\u043D\u0434\u0435\u043A\u0441\u044B \u0442\u043E\u0432\u0430\u0440\u0430.",
        "properties": {
          "color_index": {
            "$ref": "#/components/schemas/PriceIndexesColorIndex"
          },
          "external_index_data": {
            "$ref": "#/components/schemas/PriceIndexesIndexDataExternal"
          },
          "ozon_index_data": {
            "$ref": "#/components/schemas/PriceIndexesIndexDataOzon"
          },
          "self_marketplaces_index_data": {
            "$ref": "#/components/schemas/PriceIndexesIndexDataSelf"
          }
        }
      },
      "GetProductInfoListResponseSource": {
        "type": "object",
        "title": "object",
        "properties": {
          "created_at": {
            "description": "\u0414\u0430\u0442\u0430 \u0441\u043E\u0437\u0434\u0430\u043D\u0438\u044F \u0442\u043E\u0432\u0430\u0440\u0430.",
            "type": "string",
            "format": "date-time"
          },
          "quant_code": {
            "description": "\u0421\u043F\u0438\u0441\u043E\u043A \u043A\u0432\u0430\u043D\u0442\u043E\u0432 \u0441 \u0442\u043E\u0432\u0430\u0440\u0430\u043C\u0438.",
            "type": "string"
          },
          "shipment_type": {
            "$ref": "#/components/schemas/SourceShipmentType"
          },
          "sku": {
            "type": "integer",
            "format": "int64",
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u0442\u043E\u0432\u0430\u0440\u0430 \u043D\u0430 Ozon \u2014 SKU."
          },
          "source": {
            "type": "string",
            "description": "\u0421\u0445\u0435\u043C\u0430 \u043F\u0440\u043E\u0434\u0430\u0436\u0438:\n- \u0060SDS\u0060 \u2014 FBO \u0438 FBS \u0441 \u043E\u0434\u0438\u043D\u0430\u043A\u043E\u0432\u044B\u043C SKU;\n- \u0060FBO\u0060;\n- \u0060FBS\u0060.\n"
          }
        }
      },
      "GetProductInfoListResponseStatuses": {
        "type": "object",
        "title": "object",
        "description": "\u0418\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044F \u043E \u0441\u0442\u0430\u0442\u0443\u0441\u0430\u0445 \u0442\u043E\u0432\u0430\u0440\u0430.",
        "properties": {
          "is_created": {
            "description": "\u0060true\u0060, \u0435\u0441\u043B\u0438 \u0442\u043E\u0432\u0430\u0440 \u0441\u043E\u0437\u0434\u0430\u043D \u043A\u043E\u0440\u0440\u0435\u043A\u0442\u043D\u043E.\n",
            "type": "boolean"
          },
          "moderate_status": {
            "type": "string",
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u043C\u043E\u0434\u0435\u0440\u0430\u0446\u0438\u0438."
          },
          "status": {
            "type": "string",
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u0442\u043E\u0432\u0430\u0440\u0430."
          },
          "status_description": {
            "type": "string",
            "description": "\u041E\u043F\u0438\u0441\u0430\u043D\u0438\u0435 \u0441\u0442\u0430\u0442\u0443\u0441\u0430 \u0442\u043E\u0432\u0430\u0440\u0430."
          },
          "status_failed": {
            "type": "string",
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u0442\u043E\u0432\u0430\u0440\u0430, \u0432 \u043A\u043E\u0442\u043E\u0440\u043E\u043C \u0432\u043E\u0437\u043D\u0438\u043A\u043B\u0430 \u043E\u0448\u0438\u0431\u043A\u0430."
          },
          "status_name": {
            "type": "string",
            "description": "\u041D\u0430\u0437\u0432\u0430\u043D\u0438\u0435 \u0441\u0442\u0430\u0442\u0443\u0441\u0430 \u0442\u043E\u0432\u0430\u0440\u0430."
          },
          "status_tooltip": {
            "type": "string",
            "description": "\u041E\u043F\u0438\u0441\u0430\u043D\u0438\u0435 \u0441\u0442\u0430\u0442\u0443\u0441\u0430."
          },
          "status_updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "\u0412\u0440\u0435\u043C\u044F \u043F\u043E\u0441\u043B\u0435\u0434\u043D\u0435\u0433\u043E \u0438\u0437\u043C\u0435\u043D\u0435\u043D\u0438\u044F \u0441\u0442\u0430\u0442\u0443\u0441\u0430."
          },
          "validation_status": {
            "type": "string",
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u0432\u0430\u043B\u0438\u0434\u0430\u0446\u0438\u0438."
          }
        }
      },
      "GetProductInfoListResponseStocks": {
        "type": "object",
        "title": "object",
        "description": "\u0418\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044F \u043E\u0431 \u043E\u0441\u0442\u0430\u0442\u043A\u0430\u0445 \u0442\u043E\u0432\u0430\u0440\u0430.",
        "properties": {
          "has_stock": {
            "type": "boolean",
            "description": "\u0060true\u0060, \u0435\u0441\u043B\u0438 \u0435\u0441\u0442\u044C \u043E\u0441\u0442\u0430\u0442\u043E\u043A \u043D\u0430 \u0441\u043A\u043B\u0430\u0434\u0430\u0445.\n"
          },
          "stocks": {
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u043E\u0441\u0442\u0430\u0442\u043A\u043E\u0432 \u0442\u043E\u0432\u0430\u0440\u0430.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetProductInfoListResponseStocksStock"
            }
          }
        }
      },
      "GetProductInfoListResponseStocksStock": {
        "type": "object",
        "title": "object",
        "properties": {
          "present": {
            "type": "integer",
            "format": "int32",
            "description": "\u0421\u0435\u0439\u0447\u0430\u0441 \u043D\u0430 \u0441\u043A\u043B\u0430\u0434\u0435."
          },
          "reserved": {
            "type": "integer",
            "format": "int32",
            "description": "\u0417\u0430\u0440\u0435\u0437\u0435\u0440\u0432\u0438\u0440\u043E\u0432\u0430\u043D\u043E."
          },
          "sku": {
            "type": "integer",
            "format": "int64",
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u0442\u043E\u0432\u0430\u0440\u0430 \u0432 \u0441\u0438\u0441\u0442\u0435\u043C\u0435 Ozon \u2014 SKU."
          },
          "source": {
            "type": "string",
            "description": "\u0421\u0445\u0435\u043C\u0430 \u043F\u0440\u043E\u0434\u0430\u0436\u0438."
          }
        }
      },
      "GetProductInfoListResponseVisibilityDetails": {
        "type": "object",
        "title": "object",
        "description": "\u041D\u0430\u0441\u0442\u0440\u043E\u0439\u043A\u0438 \u0432\u0438\u0434\u0438\u043C\u043E\u0441\u0442\u0438 \u0442\u043E\u0432\u0430\u0440\u0430.",
        "properties": {
          "has_price": {
            "type": "boolean",
            "description": "\u0415\u0441\u043B\u0438 \u0443\u0441\u0442\u0430\u043D\u043E\u0432\u043B\u0435\u043D\u0430 \u0446\u0435\u043D\u0430 \u2014 \u0060true\u0060."
          },
          "has_stock": {
            "type": "boolean",
            "description": "\u0415\u0441\u043B\u0438 \u0435\u0441\u0442\u044C \u043E\u0441\u0442\u0430\u0442\u043E\u043A \u043D\u0430 \u0441\u043A\u043B\u0430\u0434\u0430\u0445 \u2014 \u0060true\u0060."
          }
        }
      },
      "HumanTextsParam": {
        "type": "object",
        "title": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "\u041D\u0430\u0437\u0432\u0430\u043D\u0438\u0435 \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440\u0430."
          },
          "value": {
            "type": "string",
            "description": "\u0417\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440\u0430."
          }
        }
      },
      "PostingFinancialDataProduct": {
        "properties": {
          "actions": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "\u0421\u043F\u0438\u0441\u043E\u043A \u0430\u043A\u0446\u0438\u0439."
          },
          "currency_code": {
            "type": "string",
            "description": "\u0412\u0430\u043B\u044E\u0442\u0430 \u0432\u0430\u0448\u0438\u0445 \u0446\u0435\u043D. C\u043E\u0432\u043F\u0430\u0434\u0430\u0435\u0442 \u0441 \u0432\u0430\u043B\u044E\u0442\u043E\u0439, \u043A\u043E\u0442\u043E\u0440\u0430\u044F \u0443\u0441\u0442\u0430\u043D\u043E\u0432\u043B\u0435\u043D\u0430 \u0432 \u043D\u0430\u0441\u0442\u0440\u043E\u0439\u043A\u0430\u0445 \u043B\u0438\u0447\u043D\u043E\u0433\u043E \u043A\u0430\u0431\u0438\u043D\u0435\u0442\u0430.\n\n\u0412\u043E\u0437\u043C\u043E\u0436\u043D\u044B\u0435 \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u044F: \n  - \u0060RUB\u0060 \u2014 \u0440\u043E\u0441\u0441\u0438\u0439\u0441\u043A\u0438\u0439 \u0440\u0443\u0431\u043B\u044C,\n  - \u0060BYN\u0060 \u2014 \u0431\u0435\u043B\u043E\u0440\u0443\u0441\u0441\u043A\u0438\u0439 \u0440\u0443\u0431\u043B\u044C,\n  - \u0060KZT\u0060 \u2014 \u0442\u0435\u043D\u0433\u0435,\n  - \u0060EUR\u0060 \u2014 \u0435\u0432\u0440\u043E,\n  - \u0060USD\u0060 \u2014 \u0434\u043E\u043B\u043B\u0430\u0440 \u0421\u0428\u0410,\n  - \u0060CNY\u0060 \u2014 \u044E\u0430\u043D\u044C.\n"
          },
          "customer_currency_code": {
            "type": "string",
            "description": "\u041A\u043E\u0434 \u0432\u0430\u043B\u044E\u0442\u044B \u043F\u043E\u043A\u0443\u043F\u0430\u0442\u0435\u043B\u044F."
          },
          "commission_amount": {
            "format": "double",
            "type": "number",
            "description": "\u0420\u0430\u0437\u043C\u0435\u0440 \u043A\u043E\u043C\u0438\u0441\u0441\u0438\u0438 \u0437\u0430 \u0442\u043E\u0432\u0430\u0440."
          },
          "commission_percent": {
            "format": "int64",
            "type": "integer",
            "description": "\u041F\u0440\u043E\u0446\u0435\u043D\u0442 \u043A\u043E\u043C\u0438\u0441\u0441\u0438\u0438."
          },
          "commissions_currency_code": {
            "type": "string",
            "description": "\u041A\u043E\u0434 \u0432\u0430\u043B\u044E\u0442\u044B, \u0432 \u043A\u043E\u0442\u043E\u0440\u043E\u0439 \u0440\u0430\u0441\u0441\u0447\u0438\u0442\u044B\u0432\u0430\u043B\u0438\u0441\u044C \u043A\u043E\u043C\u0438\u0441\u0441\u0438\u0438."
          },
          "old_price": {
            "format": "double",
            "type": "number",
            "description": "\u0426\u0435\u043D\u0430 \u0434\u043E \u0443\u0447\u0451\u0442\u0430 \u0441\u043A\u0438\u0434\u043E\u043A. \u041D\u0430 \u043A\u0430\u0440\u0442\u043E\u0447\u043A\u0435 \u0442\u043E\u0432\u0430\u0440\u0430 \u043E\u0442\u043E\u0431\u0440\u0430\u0436\u0430\u0435\u0442\u0441\u044F \u0437\u0430\u0447\u0451\u0440\u043A\u043D\u0443\u0442\u043E\u0439."
          },
          "payout": {
            "format": "double",
            "type": "number",
            "description": "\u0412\u044B\u043F\u043B\u0430\u0442\u0430 \u043F\u0440\u043E\u0434\u0430\u0432\u0446\u0443."
          },
          "price": {
            "format": "double",
            "type": "number",
            "description": "\u0426\u0435\u043D\u0430 \u0442\u043E\u0432\u0430\u0440\u0430 \u0441 \u0443\u0447\u0451\u0442\u043E\u043C \u0430\u043A\u0446\u0438\u0439, \u043A\u0440\u043E\u043C\u0435 \u0430\u043A\u0446\u0438\u0439 \u0437\u0430 \u0441\u0447\u0451\u0442 Ozon."
          },
          "customer_price": {
            "format": "double",
            "type": "number",
            "description": "\u0426\u0435\u043D\u0430 \u0442\u043E\u0432\u0430\u0440\u0430 \u0434\u043B\u044F \u043F\u043E\u043A\u0443\u043F\u0430\u0442\u0435\u043B\u044F \u0441 \u0443\u0447\u0451\u0442\u043E\u043C \u0441\u043A\u0438\u0434\u043E\u043A \u043F\u0440\u043E\u0434\u0430\u0432\u0446\u0430 \u0438 Ozon."
          },
          "product_id": {
            "format": "int64",
            "type": "integer",
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u0442\u043E\u0432\u0430\u0440\u0430 \u0432 \u0441\u0438\u0441\u0442\u0435\u043C\u0435 Ozon \u2014 SKU."
          },
          "quantity": {
            "format": "int64",
            "type": "integer",
            "description": "\u041A\u043E\u043B\u0438\u0447\u0435\u0441\u0442\u0432\u043E \u0442\u043E\u0432\u0430\u0440\u0430 \u0432 \u043E\u0442\u043F\u0440\u0430\u0432\u043B\u0435\u043D\u0438\u0438."
          },
          "total_discount_percent": {
            "format": "double",
            "type": "number",
            "description": "\u041F\u0440\u043E\u0446\u0435\u043D\u0442 \u0441\u043A\u0438\u0434\u043A\u0438."
          },
          "total_discount_value": {
            "format": "double",
            "type": "number",
            "description": "\u0421\u0443\u043C\u043C\u0430 \u0441\u043A\u0438\u0434\u043A\u0438."
          }
        },
        "type": "object",
        "title": "object"
      },
      "PriceIndexesColorIndex": {
        "type": "string",
        "title": "string",
        "default": "COLOR_INDEX_UNSPECIFIED",
        "enum": [
          "COLOR_INDEX_UNSPECIFIED",
          "COLOR_INDEX_WITHOUT_INDEX",
          "COLOR_INDEX_SUPER",
          "COLOR_INDEX_GREEN",
          "COLOR_INDEX_YELLOW",
          "COLOR_INDEX_RED"
        ],
        "description": "\u0412\u0438\u0434\u044B \u0438\u043D\u0434\u0435\u043A\u0441\u0430 \u0446\u0435\u043D:\n- \u0060COLOR_INDEX_UNSPECIFIED\u0060 \u2014 \u043D\u0435 \u043E\u043F\u0440\u0435\u0434\u0435\u043B\u0451\u043D,\n- \u0060COLOR_INDEX_WITHOUT_INDEX\u0060 \u2014 \u043E\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0443\u0435\u0442,\n- \u0060COLOR_INDEX_SUPER\u0060 \u2014 \u0441\u0443\u043F\u0435\u0440\u0432\u044B\u0433\u043E\u0434\u043D\u044B\u0439,\n- \u0060COLOR_INDEX_GREEN\u0060 \u2014 \u0432\u044B\u0433\u043E\u0434\u043D\u044B\u0439,\n- \u0060COLOR_INDEX_YELLOW\u0060 \u2014 \u0443\u043C\u0435\u0440\u0435\u043D\u043D\u044B\u0439,\n- \u0060COLOR_INDEX_RED\u0060 \u2014 \u043D\u0435\u0432\u044B\u0433\u043E\u0434\u043D\u044B\u0439.\n\n[\u041F\u043E\u0434\u0440\u043E\u0431\u043D\u0435\u0435 \u043E\u0431 \u0438\u043D\u0434\u0435\u043A\u0441\u0435 \u0446\u0435\u043D \u0432 \u0411\u0430\u0437\u0435 \u0437\u043D\u0430\u043D\u0438\u0439 \u043F\u0440\u043E\u0434\u0430\u0432\u0446\u0430](https://seller-edu.ozon.ru/ceny-i-akcii/rabota-s-cenami/price-index)\n"
      },
      "PriceIndexesIndexDataExternal": {
        "type": "object",
        "title": "object",
        "description": "\u0426\u0435\u043D\u0430 \u0442\u043E\u0432\u0430\u0440\u0430 \u0443 \u043A\u043E\u043D\u043A\u0443\u0440\u0435\u043D\u0442\u043E\u0432 \u043D\u0430 \u0434\u0440\u0443\u0433\u0438\u0445 \u043F\u043B\u043E\u0449\u0430\u0434\u043A\u0430\u0445.",
        "properties": {
          "minimal_price": {
            "type": "string",
            "description": "\u041C\u0438\u043D\u0438\u043C\u0430\u043B\u044C\u043D\u0430\u044F \u0446\u0435\u043D\u0430 \u0442\u043E\u0432\u0430\u0440\u0430 \u0443 \u043A\u043E\u043D\u043A\u0443\u0440\u0435\u043D\u0442\u043E\u0432 \u043D\u0430 \u0434\u0440\u0443\u0433\u043E\u0439 \u043F\u043B\u043E\u0449\u0430\u0434\u043A\u0435."
          },
          "minimal_price_currency": {
            "type": "string",
            "description": "\u0412\u0430\u043B\u044E\u0442\u0430 \u0446\u0435\u043D\u044B."
          },
          "price_index_value": {
            "type": "number",
            "format": "double",
            "description": "\u0417\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u0438\u043D\u0434\u0435\u043A\u0441\u0430 \u0446\u0435\u043D\u044B."
          }
        }
      },
      "PriceIndexesIndexDataOzon": {
        "type": "object",
        "title": "object",
        "description": "\u0426\u0435\u043D\u0430 \u0442\u043E\u0432\u0430\u0440\u0430 \u0443 \u043A\u043E\u043D\u043A\u0443\u0440\u0435\u043D\u0442\u043E\u0432 \u043D\u0430 Ozon.",
        "properties": {
          "minimal_price": {
            "type": "string",
            "description": "\u041C\u0438\u043D\u0438\u043C\u0430\u043B\u044C\u043D\u0430\u044F \u0446\u0435\u043D\u0430 \u0442\u043E\u0432\u0430\u0440\u0430 \u0443 \u043A\u043E\u043D\u043A\u0443\u0440\u0435\u043D\u0442\u043E\u0432 \u043D\u0430 Ozon."
          },
          "minimal_price_currency": {
            "type": "string",
            "description": "\u0412\u0430\u043B\u044E\u0442\u0430 \u0446\u0435\u043D\u044B."
          },
          "price_index_value": {
            "type": "number",
            "format": "double",
            "description": "\u0417\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u0438\u043D\u0434\u0435\u043A\u0441\u0430 \u0446\u0435\u043D\u044B."
          }
        }
      },
      "PriceIndexesIndexDataSelf": {
        "type": "object",
        "title": "object",
        "description": "\u0426\u0435\u043D\u0430 \u0432\u0430\u0448\u0435\u0433\u043E \u0442\u043E\u0432\u0430\u0440\u0430 \u043D\u0430 \u0434\u0440\u0443\u0433\u0438\u0445 \u043F\u043B\u043E\u0449\u0430\u0434\u043A\u0430\u0445.",
        "properties": {
          "minimal_price": {
            "type": "string",
            "description": "\u041C\u0438\u043D\u0438\u043C\u0430\u043B\u044C\u043D\u0430\u044F \u0446\u0435\u043D\u0430 \u0432\u0430\u0448\u0435\u0433\u043E \u0442\u043E\u0432\u0430\u0440\u0430 \u043D\u0430 \u0434\u0440\u0443\u0433\u0438\u0445 \u043F\u043B\u043E\u0449\u0430\u0434\u043A\u0430\u0445."
          },
          "minimal_price_currency": {
            "type": "string",
            "description": "\u0412\u0430\u043B\u044E\u0442\u0430 \u0446\u0435\u043D\u044B."
          },
          "price_index_value": {
            "type": "number",
            "format": "double",
            "description": "\u0417\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u0438\u043D\u0434\u0435\u043A\u0441\u0430 \u0446\u0435\u043D\u044B."
          }
        }
      },
      "RatingStatusEnum": {
        "type": "string",
        "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430:\n- \u0060UNKNOWN\u0060 \u2014 \u043D\u0435 \u043E\u043F\u0440\u0435\u0434\u0435\u043B\u0451\u043D;\n- \u0060OK\u0060 \u2014 \u0445\u043E\u0440\u043E\u0448\u0438\u0439;\n- \u0060WARNING\u0060 \u2014 \u043F\u043E\u043A\u0430\u0437\u0430\u0442\u0435\u043B\u0438 \u0442\u0440\u0435\u0431\u0443\u044E\u0442 \u0432\u043D\u0438\u043C\u0430\u043D\u0438\u044F;\n- \u0060CRITICAL\u0060 \u2014 \u043A\u0440\u0438\u0442\u0438\u0447\u043D\u044B\u0439.\n",
        "default": "UNKNOWN",
        "enum": [
          "UNKNOWN",
          "OK",
          "WARNING",
          "CRITICAL"
        ]
      },
      "RatingValueCurrent": {
        "type": "object",
        "description": "\u0417\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430.",
        "properties": {
          "date_from": {
            "type": "string",
            "format": "date-time",
            "description": "\u0414\u0430\u0442\u0430 \u043D\u0430\u0447\u0430\u043B\u0430 \u043F\u043E\u0434\u0441\u0447\u0451\u0442\u0430 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430."
          },
          "date_to": {
            "type": "string",
            "format": "date-time",
            "description": "\u0414\u0430\u0442\u0430 \u043A\u043E\u043D\u0446\u0430 \u043F\u043E\u0434\u0441\u0447\u0451\u0442\u0430 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430."
          },
          "formatted": {
            "type": "string",
            "description": "\u041E\u0442\u0444\u043E\u0440\u043C\u0430\u0442\u0438\u0440\u043E\u0432\u0430\u043D\u043D\u043E\u0435 \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430."
          },
          "status": {
            "$ref": "#/components/schemas/v1RatingStatus"
          },
          "value": {
            "type": "number",
            "format": "double",
[...]
