{
  "openapi": "3.0.0",
  "info": {
    "title": "\u0414\u043E\u043A\u0443\u043C\u0435\u043D\u0442\u0430\u0446\u0438\u044F Ozon Seller API",
    "version": 2.1,
    "x-logo": {
      "url": "https://cdn2.ozone.ru/s3/redoc/ozon-seller-logo.svg",
      "backgroundColor": null,
      "altText": "Ozon logo"
    },
    "description": "\u041F\u043E \u0432\u043E\u043F\u0440\u043E\u0441\u0430\u043C \u0440\u0430\u0431\u043E\u0442\u044B \u0441 Seller API \u043E\u0431\u0440\u0430\u0449\u0430\u0439\u0442\u0435\u0441\u044C \u0432 \u043F\u043E\u0434\u0434\u0435\u0440\u0436\u043A\u0443 \u0447\u0435\u0440\u0435\u0437 \u043B\u0438\u0447\u043D\u044B\u0439 \u043A\u0430\u0431\u0438\u043D\u0435\u0442.\n\n\u003Caside class=\u0022warning\u0022\u003E\u041E\u0431\u043D\u043E\u0432\u043B\u044F\u0435\u043C \u043A\u043E\u0440\u043D\u0435\u0432\u043E\u0439 TLS/SSL-\u0441\u0435\u0440\u0442\u0438\u0444\u0438\u043A\u0430\u0442 GlobalSign \u2014 \u0432\u043C\u0435\u0441\u0442\u043E \u043D\u0435\u0433\u043E \u0431\u0443\u0434\u0435\u043C \u0438\u0441\u043F\u043E\u043B\u044C\u0437\u043E\u0432\u0430\u0442\u044C \u003Ca href=\u0022https://app.harica.gr/\u0022\u003EHARICA\u003C/a\u003E.\u003Cbr\u003E\u003Ca href=\u0022https://dev.ozon.ru/news/775-Izmeneniia-v-Ozon-API-migratsiia-kornevogo-sertifikata-UTs-Ozon/\u0022\u003E\u041F\u043E\u0434\u0440\u043E\u0431\u043D\u0435\u0435 \u043E \u043F\u0435\u0440\u0435\u0445\u043E\u0434\u0435 \u043D\u0430 HARICA \u043D\u0430 \u043F\u043B\u0430\u0442\u0444\u043E\u0440\u043C\u0435 \u0440\u0430\u0437\u0440\u0430\u0431\u043E\u0442\u0447\u0438\u043A\u043E\u0432 Ozon for dev\u003C/a\u003E\u003C/aside\u003E\n\n\u003E [\u0418\u043D\u0441\u0442\u0440\u0443\u043A\u0446\u0438\u0438 \u043F\u043E \u0440\u0430\u0431\u043E\u0442\u0435 \u0441 \u043C\u0430\u0440\u043A\u0435\u0442\u043F\u043B\u0435\u0439\u0441\u043E\u043C](https://seller-edu.ozon.ru)\n\n\u003E [\u0418\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u043E\u043D\u043D\u0430\u044F \u043F\u043B\u0430\u0442\u0444\u043E\u0440\u043C\u0430 \u0438 \u0441\u043E\u043E\u0431\u0449\u0435\u0441\u0442\u0432\u043E \u0440\u0430\u0437\u0440\u0430\u0431\u043E\u0442\u0447\u0438\u043A\u043E\u0432 Ozon for dev](https://dev.ozon.ru/)\n"
  },
  "servers": [
    {
      "url": "https://api-seller.ozon.ru"
    }
  ],
  "paths": {
    "/v2/warehouse/list": {
      "post": {
        "summary": "\u0421\u043F\u0438\u0441\u043E\u043A \u0441\u043A\u043B\u0430\u0434\u043E\u0432",
        "description": "\u041C\u0435\u0442\u043E\u0434 \u0432\u043E\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u043F\u0438\u0441\u043E\u043A \u0441\u043A\u043B\u0430\u0434\u043E\u0432 FBS \u0438 rFBS. \u0427\u0442\u043E\u0431\u044B \u043F\u043E\u043B\u0443\u0447\u0438\u0442\u044C \u0441\u043F\u0438\u0441\u043E\u043A \u0441\u043A\u043B\u0430\u0434\u043E\u0432 FBO, \u0438\u0441\u043F\u043E\u043B\u044C\u0437\u0443\u0439\u0442\u0435 \u043C\u0435\u0442\u043E\u0434 [/v1/warehouse/fbo/list](#operation/SupplyDraftAPI_DraftGetWarehouseFboList).\n",
        "operationId": "WarehouseListV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v2WarehouseListV2Request"
              },
              "example": {
                "cursor": "string",
                "limit": 0,
                "warehouse_ids": [
                  20605650762000
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0421\u043F\u0438\u0441\u043E\u043A \u0441\u043A\u043B\u0430\u0434\u043E\u0432",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2WarehouseListV2Response"
                },
                "example": {
                  "cursor": "string",
                  "warehouses": [
                    {
                      "address_info": {
                        "address": "\u0420\u043E\u0441\u0441\u0438\u044F, \u041C\u043E\u0441\u043A\u043E\u0432\u0441\u043A\u0430\u044F \u041E\u0431\u043B\u0430\u0441\u0442\u044C, \u0421\u043E\u0444\u044C\u0438\u043D\u043E, \u043F\u0440\u043E\u043C\u0437\u043E\u043D\u0430 \u0421\u0421\u0422, \u043A2, 2",
                        "latitude": 55.495093,
                        "longitude": 38.172731,
                        "utc": "UTC\u002B03:00"
                      },
                      "carriage_label_type": "BIG",
                      "courier_comment": "",
                      "courier_phones": [
                        "\u002B7(999)999-99-99"
                      ],
                      "created_at": "2025-03-11T11:57:51.811Z",
                      "first_mile": {
                        "type": "PICK_UP",
                        "dropoff_point_id": "1020002075314000",
                        "timeslot_from": "20:59",
                        "timeslot_id": 287231,
                        "timeslot_to": "21:00",
                        "first_mile_is_changing": false
                      },
                      "has_entrusted_acceptance": true,
                      "has_postings_limit": false,
                      "is_auto_assembly": true,
                      "is_kgt": true,
                      "is_rfbs": true,
                      "is_waybill_enabled": true,
                      "min_postings_limit": 2,
                      "is_comfort": true,
                      "is_express": true,
                      "warehouse_type": "string",
                      "cut_in_time": 0,
                      "name": "17023",
                      "phone": "\u002B7(999)999-99-99",
                      "postings_limit": -1,
                      "sla_cut_in": 2939,
                      "status": "created",
                      "timetable": {
                        "timetable_from": "2025-03-11T11:57:51.811Z",
                        "timetable_to": "2025-03-11T11:57:51.811Z",
                        "working_hours": [
                          {
                            "time_from": "2025-03-11T11:57:51.811Z",
                            "time_to": "2025-03-11T11:57:51.811Z"
                          }
                        ]
                      },
                      "updated_at": "2025-03-11T11:57:51.811Z",
                      "warehouse_id": 20605650762000,
                      "with_item_list": true,
                      "working_days": [
                        "MONDAY",
                        "TUESDAY",
                        "WEDNESDAY",
                        "THURSDAY",
                        "FRIDAY"
                      ]
                    }
                  ],
                  "has_next": "string"
                }
              }
            }
          },
          "default": {
            "description": "\u041E\u0448\u0438\u0431\u043A\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "WarehouseAPI"
        ]
      }
    },
    "/v3/product/list": {
      "post": {
        "summary": "\u0421\u043F\u0438\u0441\u043E\u043A \u0442\u043E\u0432\u0430\u0440\u043E\u0432",
        "operationId": "ProductAPI_GetProductList",
        "description": "\u041C\u0435\u0442\u043E\u0434 \u0434\u043B\u044F \u043F\u043E\u043B\u0443\u0447\u0435\u043D\u0438\u044F \u0441\u043F\u0438\u0441\u043A\u0430 \u0432\u0441\u0435\u0445 \u0442\u043E\u0432\u0430\u0440\u043E\u0432.\n\n\u0415\u0441\u043B\u0438 \u0432\u044B \u0438\u0441\u043F\u043E\u043B\u044C\u0437\u0443\u0435\u0442\u0435 \u0444\u0438\u043B\u044C\u0442\u0440 \u043F\u043E \u0438\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440\u0443 \u0060offer_id\u0060 \u0438\u043B\u0438 \u0060product_id\u0060, \u043E\u0441\u0442\u0430\u043B\u044C\u043D\u044B\u0435 \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440\u044B \u0437\u0430\u043F\u043E\u043B\u043D\u044F\u0442\u044C \u043D\u0435 \u043E\u0431\u044F\u0437\u0430\u0442\u0435\u043B\u044C\u043D\u043E.\n\u0412\u0435\u0440\u043D\u0443\u0442\u0441\u044F \u0432\u0441\u0435 \u0442\u043E\u0432\u0430\u0440\u044B \u0441 \u0443\u043A\u0430\u0437\u0430\u043D\u043D\u044B\u043C\u0438 \u0438\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440\u0430\u043C\u0438, \u043D\u0435\u0437\u0430\u0432\u0438\u0441\u0438\u043C\u043E \u043E\u0442 \u0432\u0438\u0434\u0438\u043C\u043E\u0441\u0442\u0438.\n\u0417\u0430 \u043E\u0434\u0438\u043D \u0440\u0430\u0437 \u0432\u044B \u043C\u043E\u0436\u0435\u0442\u0435 \u0438\u0441\u043F\u043E\u043B\u044C\u0437\u043E\u0432\u0430\u0442\u044C \u0442\u043E\u043B\u044C\u043A\u043E \u043E\u0434\u043D\u0443 \u0433\u0440\u0443\u043F\u043F\u0443 \u0438\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440\u043E\u0432, \u043D\u0435 \u0431\u043E\u043B\u044C\u0448\u0435 1000 \u0442\u043E\u0432\u0430\u0440\u043E\u0432.\n\n\u0415\u0441\u043B\u0438 \u0432\u044B \u043D\u0435 \u0438\u0441\u043F\u043E\u043B\u044C\u0437\u0443\u0435\u0442\u0435 \u0434\u043B\u044F \u043E\u0442\u043E\u0431\u0440\u0430\u0436\u0435\u043D\u0438\u044F \u0438\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440\u044B, \u0443\u043A\u0430\u0436\u0438\u0442\u0435 \u0060limit\u0060 \u0438 \u0060last_id\u0060 \u0432 \u0441\u043B\u0435\u0434\u0443\u044E\u0449\u0438\u0445 \u0437\u0430\u043F\u0440\u043E\u0441\u0430\u0445.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/productv3GetProductListRequest"
              },
              "example": {
                "filter": {
                  "offer_id": [
                    "136748"
                  ],
                  "product_id": [
                    "223681945"
                  ],
                  "skus": [
                    "179737222"
                  ],
                  "visibility": "ALL"
                },
                "last_id": "",
                "limit": 100
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "\u0421\u043F\u0438\u0441\u043E\u043A \u0442\u043E\u0432\u0430\u0440\u043E\u0432",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/productv3GetProductListResponse"
                },
                "example": {
                  "result": {
                    "items": [
                      {
                        "product_id": 3397917680,
                        "offer_id": "2026-01-13 16:56:03 PDF",
                        "sku": 987654321,
                        "has_fbo_stocks": false,
                        "has_fbs_stocks": false,
                        "archived": false,
                        "is_discounted": false,
                        "quants": []
                      }
                    ],
                    "total": 1,
                    "last_id": "WzMzOTc5MTc2ODAsMzM5NzkxNzY4MF0="
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u041D\u0435\u0432\u0435\u0440\u043D\u044B\u0439 \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "\u0414\u043E\u0441\u0442\u0443\u043F \u0437\u0430\u043F\u0440\u0435\u0449\u0451\u043D",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "\u041E\u0442\u0432\u0435\u0442 \u043D\u0435 \u043D\u0430\u0439\u0434\u0435\u043D",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "\u041A\u043E\u043D\u0444\u043B\u0438\u043A\u0442 \u0437\u0430\u043F\u0440\u043E\u0441\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "\u0412\u043D\u0443\u0442\u0440\u0435\u043D\u043D\u044F\u044F \u043E\u0448\u0438\u0431\u043A\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "ProductAPI"
        ]
      }
    },
    "/v3/product/info/list": {
      "post": {
        "summary": "\u041F\u043E\u043B\u0443\u0447\u0438\u0442\u044C \u0438\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044E \u043E \u0442\u043E\u0432\u0430\u0440\u0430\u0445 \u043F\u043E \u0438\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440\u0430\u043C",
        "description": "\n\u041C\u0435\u0442\u043E\u0434 \u0434\u043B\u044F \u043F\u043E\u043B\u0443\u0447\u0435\u043D\u0438\u044F \u0438\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u0438 \u043E \u0442\u043E\u0432\u0430\u0440\u0430\u0445 \u043F\u043E \u0438\u0445 \u0438\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440\u0430\u043C.\n\n\u0412 \u0442\u0435\u043B\u0435 \u0437\u0430\u043F\u0440\u043E\u0441\u0430 \u0434\u043E\u043B\u0436\u0435\u043D \u0431\u044B\u0442\u044C \u043C\u0430\u0441\u0441\u0438\u0432 \u043E\u0434\u043D\u043E\u0442\u0438\u043F\u043D\u044B\u0445 \u0438\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440\u043E\u0432, \u0432 \u043E\u0442\u0432\u0435\u0442\u0435 \u0431\u0443\u0434\u0435\u0442 \u043C\u0430\u0441\u0441\u0438\u0432 \u0060items\u0060.\n\n\u0412 \u043E\u0434\u043D\u043E\u043C \u0437\u0430\u043F\u0440\u043E\u0441\u0435 \u0432\u044B \u043C\u043E\u0436\u0435\u0442\u0435 \u043F\u0435\u0440\u0435\u0434\u0430\u0442\u044C \u043D\u0435 \u0431\u043E\u043B\u044C\u0448\u0435 1000 \u0442\u043E\u0432\u0430\u0440\u043E\u0432 \u043F\u043E \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440\u0430\u043C \u0060offer_id\u0060, \u0060product_id\u0060 \u0438 \u0060sku\u0060 \u0432 \u0441\u0443\u043C\u043C\u0435.\n",
        "operationId": "ProductAPI_GetProductInfoList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v3GetProductInfoListRequest"
              },
              "example": {
                "offer_id": [
                  "2026113PDF"
                ],
                "product_id": [
                  "3339791176800"
                ],
                "sku": [
                  "33373353831"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "\u0421\u043F\u0438\u0441\u043E\u043A \u0442\u043E\u0432\u0430\u0440\u043E\u0432",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v3GetProductInfoListResponse"
                },
                "example": {
                  "items": [
                    {
                      "availabilities": [
                        {
                          "availability": "in_stock",
                          "reasons": [
                            {
                              "human_text": {
                                "text": "\u0422\u043E\u0432\u0430\u0440 \u0434\u043E\u0441\u0442\u0443\u043F\u0435\u043D \u043D\u0430 \u0441\u043A\u043B\u0430\u0434\u0435"
                              },
                              "id": 12345
                            }
                          ],
                          "sku": 987654321,
                          "source": "main_warehouse"
                        }
                      ],
                      "barcodes": [
                        "123456789012"
                      ],
                      "color_image": [
                        "https://example.com/color_image_123.jpg"
                      ],
                      "commissions": [
                        {
                          "delivery_amount": 150,
                          "percent": 10,
                          "return_amount": 50,
                          "sale_schema": "standard",
                          "value": 200
                        }
                      ],
                      "created_at": "2023-01-15T10:30:00Z",
                      "currency_code": "RUB",
                      "description_category_id": 42,
                      "discounted_fbo_stocks": 5,
                      "errors": [
                        {
                          "attribute_id": 101,
                          "code": "INVALID_PRICE",
                          "field": "price",
                          "level": "ERROR",
                          "state": "pending",
                          "texts": {
                            "attribute_name": "\u0426\u0435\u043D\u0430",
                            "description": "\u0426\u0435\u043D\u0430 \u043D\u0435 \u043C\u043E\u0436\u0435\u0442 \u0431\u044B\u0442\u044C \u043E\u0442\u0440\u0438\u0446\u0430\u0442\u0435\u043B\u044C\u043D\u043E\u0439",
                            "hint_code": "PRICE_NEGATIVE",
                            "message": "\u0418\u0441\u043F\u0440\u0430\u0432\u044C\u0442\u0435 \u0446\u0435\u043D\u0443",
                            "params": [
                              {
                                "name": "min_price",
                                "value": "100"
                              }
                            ],
                            "short_description": "\u041E\u0448\u0438\u0431\u043A\u0430 \u0446\u0435\u043D\u044B"
                          }
                        }
                      ],
                      "has_discounted_fbo_item": false,
                      "id": 100001,
                      "images": [
                        "https://example.com/image1.jpg",
                        "https://example.com/image2.jpg"
                      ],
                      "is_archived": false,
                      "is_autoarchived": false,
                      "is_discounted": true,
                      "is_kgt": false,
                      "is_prepayment_allowed": true,
                      "is_super": false,
                      "min_price": "999.99",
                      "model_info": {
                        "count": 3,
                        "model_id": 777
                      },
                      "name": "\u0422\u0435\u0441\u0442\u043E\u0432\u044B\u0439 \u0442\u043E\u0432\u0430\u0440 123",
                      "offer_id": "OFFER_123456789",
                      "old_price": "1499.99",
                      "price": "1299.99",
                      "price_indexes": {
                        "color_index": "RED",
                        "external_index_data": {
                          "minimal_price": "1199.99",
                          "minimal_price_currency": "RUB",
                          "price_index_value": 85
                        },
                        "ozon_index_data": {
                          "minimal_price": "1250.00",
                          "minimal_price_currency": "RUB",
                          "price_index_value": 90
                        },
                        "self_marketplaces_index_data": {
                          "minimal_price": "1200.00",
                          "minimal_price_currency": "RUB",
                          "price_index_value": 88
                        }
                      },
                      "primary_image": [
                        "https://example.com/primary_image.jpg"
                      ],
                      "promotions": [
                        {
                          "is_enabled": true,
                          "type": "DISCOUNT"
                        }
                      ],
                      "sku": 123456789,
                      "sources": [
                        {
                          "created_at": "2023-01-10T09:15:00Z",
                          "quant_code": "QUANT_123",
                          "shipment_type": "EXPRESS",
                          "sku": 123456789,
                          "source": "supplier_1"
                        }
                      ],
                      "statuses": {
                        "is_created": true,
                        "moderate_status": "approved",
                        "status": "active",
                        "status_description": "\u0422\u043E\u0432\u0430\u0440 \u0434\u043E\u0441\u0442\u0443\u043F\u0435\u043D \u0434\u043B\u044F \u043F\u0440\u043E\u0434\u0430\u0436\u0438",
                        "status_failed": "none",
                        "status_name": "\u0410\u043A\u0442\u0438\u0432\u0435\u043D",
                        "status_tooltip": "\u0422\u043E\u0432\u0430\u0440 \u043F\u0440\u043E\u0448\u0451\u043B \u043C\u043E\u0434\u0435\u0440\u0430\u0446\u0438\u044E",
                        "status_updated_at": "2023-01-14T11:20:00Z",
                        "validation_status": "valid"
                      },
                      "stocks": {
                        "has_stock": true,
                        "stocks": [
                          {
                            "present": 50,
                            "reserved": 5,
                            "sku": 123456789,
                            "source": "main_warehouse"
                          }
                        ]
                      },
                      "type_id": 1,
                      "updated_at": "2023-01-16T12:45:00Z",
                      "vat": "20%",
                      "visibility_details": {
                        "has_price": true,
                        "has_stock": true
                      },
                      "volume_weight": 1.5
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "\u041D\u0435\u0432\u0435\u0440\u043D\u044B\u0439 \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "\u0414\u043E\u0441\u0442\u0443\u043F \u0437\u0430\u043F\u0440\u0435\u0449\u0451\u043D",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "\u041E\u0442\u0432\u0435\u0442 \u043D\u0435 \u043D\u0430\u0439\u0434\u0435\u043D",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "\u041A\u043E\u043D\u0444\u043B\u0438\u043A\u0442 \u0437\u0430\u043F\u0440\u043E\u0441\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "\u0412\u043D\u0443\u0442\u0440\u0435\u043D\u043D\u044F\u044F \u043E\u0448\u0438\u0431\u043A\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "ProductAPI"
        ]
      }
    },
    "/v1/seller/info": {
      "post": {
        "tags": [
          "SellerInfo"
        ],
        "summary": "\u0418\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044F \u043E \u043A\u0430\u0431\u0438\u043D\u0435\u0442\u0435 \u043F\u0440\u043E\u0434\u0430\u0432\u0446\u0430",
        "operationId": "SellerAPI_SellerInfo",
        "responses": {
          "200": {
            "description": "\u0418\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044F \u043E \u043A\u0430\u0431\u0438\u043D\u0435\u0442\u0435 \u043F\u0440\u043E\u0434\u0430\u0432\u0446\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1SellerInfoResponse"
                },
                "example": {
                  "company": {
                    "country": "\u0420\u043E\u0441\u0441\u0438\u044F",
                    "currency": "RUB",
                    "inn": "7707083893",
                    "legal_name": "\u041E\u0431\u0449\u0435\u0441\u0442\u0432\u043E \u0441 \u043E\u0433\u0440\u0430\u043D\u0438\u0447\u0435\u043D\u043D\u043E\u0439 \u043E\u0442\u0432\u0435\u0442\u0441\u0442\u0432\u0435\u043D\u043D\u043E\u0441\u0442\u044C\u044E \u0027\u0420\u043E\u043C\u0430\u0448\u043A\u0430\u0027",
                    "name": "\u041E\u041E\u041E \u0027\u0420\u043E\u043C\u0430\u0448\u043A\u0430\u0027",
                    "ogrn": "1027700132195",
                    "ownership_form": "\u0427\u0430\u0441\u0442\u043D\u0430\u044F \u0441\u043E\u0431\u0441\u0442\u0432\u0435\u043D\u043D\u043E\u0441\u0442\u044C",
                    "tax_system": "\u041E\u0421\u041D\u041E"
                  },
                  "ratings": [
                    {
                      "current_value": {
                        "date_from": "2023-01-15T09:00:00Z",
                        "date_to": "2023-12-31T23:59:59Z",
                        "formatted": "AA\u002B",
                        "status": {
                          "danger": false,
                          "premium": true,
                          "warning": false
                        },
                        "value": 85
                      },
                      "name": "\u0424\u0438\u043D\u0430\u043D\u0441\u043E\u0432\u0430\u044F \u0443\u0441\u0442\u043E\u0439\u0447\u0438\u0432\u043E\u0441\u0442\u044C",
                      "past_value": {
                        "date_from": "2022-01-01T00:00:00Z",
                        "date_to": "2022-12-31T23:59:59Z",
                        "formatted": "A",
                        "status": {
                          "danger": false,
                          "premium": false,
                          "warning": true
                        },
                        "value": 78
                      },
                      "rating": "\u0412\u044B\u0441\u043E\u043A\u0438\u0439 \u0443\u0440\u043E\u0432\u0435\u043D\u044C",
                      "status": "\u0410\u043A\u0442\u0438\u0432\u043D\u043E",
                      "value_type": "\u041A\u043E\u043B\u0438\u0447\u0435\u0441\u0442\u0432\u0435\u043D\u043D\u044B\u0439"
                    }
                  ],
                  "subscription": {
                    "is_premium": true,
                    "type": "\u041F\u0440\u043E\u0444\u0435\u0441\u0441\u0438\u043E\u043D\u0430\u043B\u044C\u043D\u044B\u0439"
                  }
                }
              }
            }
          },
          "default": {
            "description": "\u041E\u0448\u0438\u0431\u043A\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AvailabilityReason": {
        "type": "object",
        "properties": {
          "human_text": {
            "$ref": "#/components/schemas/ReasonHumanText"
          },
          "id": {
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u043F\u0440\u0438\u0447\u0438\u043D\u044B.",
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CompanyTaxSystemEnum": {
        "type": "string",
        "description": "\u0421\u0438\u0441\u0442\u0435\u043C\u0430 \u043D\u0430\u043B\u043E\u0433\u043E\u043E\u0431\u043B\u043E\u0436\u0435\u043D\u0438\u044F:\n- \u0060UNKNOWN\u0060 \u2014 \u043D\u0435\u0438\u0437\u0432\u0435\u0441\u0442\u043D\u0430\u044F,\n- \u0060UNSPECIFIED\u0060 \u2014 \u043D\u0435 \u043E\u043F\u0440\u0435\u0434\u0435\u043B\u0435\u043D\u0430,\n- \u0060OSNO\u0060 \u2014 \u041E\u0421\u041D\u041E,\n- \u0060USN\u0060 \u2014 \u0423\u0421\u041D,\n- \u0060NPD\u0060 \u2014 \u041D\u041F\u0414,\n- \u0060AUSN\u0060 \u2014 \u0410\u0423\u0421\u041D,\n- \u0060PSN\u0060 \u2014 \u041F\u0421\u041D.\n",
        "default": "UNKNOWN",
        "enum": [
          "UNKNOWN",
          "UNSPECIFIED",
          "OSNO",
          "USN",
          "NPD",
          "AUSN",
          "PSN"
        ]
      },
      "ErrorErrorLevel": {
        "type": "string",
        "title": "object",
        "default": "ERROR_LEVEL_UNSPECIFIED",
        "enum": [
          "ERROR_LEVEL_UNSPECIFIED",
          "ERROR_LEVEL_ERROR",
          "ERROR_LEVEL_WARNING",
          "ERROR_LEVEL_INTERNAL"
        ],
        "description": "\u041E\u043F\u0438\u0441\u0430\u043D\u0438\u0435 \u0443\u0440\u043E\u0432\u043D\u0435\u0439 \u043E\u0448\u0438\u0431\u043E\u043A: \n  - \u0060ERROR_LEVEL_UNSPECIFIED\u0060 \u2014 \u043D\u0435 \u043E\u043F\u0440\u0435\u0434\u0435\u043B\u0451\u043D;\n  - \u0060ERROR_LEVEL_ERROR\u0060 \u2014 \u043A\u0440\u0438\u0442\u0438\u0447\u043D\u0430\u044F \u043E\u0448\u0438\u0431\u043A\u0430, \u0442\u043E\u0432\u0430\u0440 \u043D\u0435\u043B\u044C\u0437\u044F \u043F\u0440\u043E\u0434\u0430\u0432\u0430\u0442\u044C;\n  - \u0060ERROR_LEVEL_INTERNAL\u0060 \u2014 \u043A\u0440\u0438\u0442\u0438\u0447\u043D\u0430\u044F \u043E\u0448\u0438\u0431\u043A\u0430, \u0442\u043E\u0432\u0430\u0440 \u043D\u0435\u043B\u044C\u0437\u044F \u043F\u0440\u043E\u0434\u0430\u0432\u0430\u0442\u044C.\n  - \u0060ERROR_LEVEL_WARNING\u0060 \u2014 \u043D\u0435\u043A\u0440\u0438\u0442\u0438\u0447\u043D\u0430\u044F \u043E\u0448\u0438\u0431\u043A\u0430, \u0442\u043E\u0432\u0430\u0440 \u043C\u043E\u0436\u043D\u043E \u043F\u0440\u043E\u0434\u0430\u0432\u0430\u0442\u044C.\n\n[\u041F\u043E\u0434\u0440\u043E\u0431\u043D\u0435\u0435 \u043E\u0431 \u043E\u0448\u0438\u0431\u043A\u0430\u0445 \u043F\u0440\u0438 \u0441\u043E\u0437\u0434\u0430\u043D\u0438\u0438 \u0442\u043E\u0432\u0430\u0440\u0430 \u0432 \u0411\u0430\u0437\u0435 \u0437\u043D\u0430\u043D\u0438\u0439 \u043F\u0440\u043E\u0434\u0430\u0432\u0446\u0430](https://seller-edu.ozon.ru/work-with-goods/zagruzka-tovarov/creating-goods/oshibki-pri-rabote-s-kartochkami)             \n"
      },
      "ErrorHumanTexts": {
        "type": "object",
        "title": "object",
        "description": "\u041E\u043F\u0438\u0441\u0430\u043D\u0438\u0435 \u043E\u0448\u0438\u0431\u043E\u043A.",
        "properties": {
          "attribute_name": {
            "type": "string",
            "description": "\u041D\u0430\u0437\u0432\u0430\u043D\u0438\u0435 \u0430\u0442\u0440\u0438\u0431\u0443\u0442\u0430, \u0432 \u043A\u043E\u0442\u043E\u0440\u043E\u043C \u043F\u0440\u043E\u0438\u0437\u043E\u0448\u043B\u0430 \u043E\u0448\u0438\u0431\u043A\u0430."
          },
          "description": {
            "type": "string",
            "description": "\u041E\u043F\u0438\u0441\u0430\u043D\u0438\u0435 \u043E\u0448\u0438\u0431\u043A\u0438."
          },
          "hint_code": {
            "description": "\u041A\u043E\u0434 \u043E\u0448\u0438\u0431\u043A\u0438 \u0432 \u0441\u0438\u0441\u0442\u0435\u043C\u0435 Ozon.",
            "type": "string"
          },
          "message": {
            "description": "\u0422\u0435\u043A\u0441\u0442 \u043E\u0448\u0438\u0431\u043A\u0438.",
            "type": "string"
          },
          "params": {
            "description": "\u0412 \u043A\u0430\u043A\u0438\u0445 \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440\u0430\u0445 \u0434\u043E\u043F\u0443\u0449\u0435\u043D\u0430 \u043E\u0448\u0438\u0431\u043A\u0430.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HumanTextsParam"
            }
          },
          "short_description": {
            "description": "\u041A\u0440\u0430\u0442\u043A\u043E\u0435 \u043E\u043F\u0438\u0441\u0430\u043D\u0438\u0435 \u043E\u0448\u0438\u0431\u043A\u0438.",
            "type": "string"
          }
        }
      },
      "FirstMileTypeEnum": {
        "type": "string",
        "default": "UNSPECIFIED",
        "description": "\u0422\u0438\u043F \u043F\u0435\u0440\u0432\u043E\u0439 \u043C\u0438\u043B\u0438 \u2014 \u0060PICK_UP\u0060 \u0438\u043B\u0438 \u0060DROP_OFF\u0060.",
        "enum": [
          "UNSPECIFIED",
          "PICK_UP",
          "DROP_OFF"
        ]
      },
      "GetProductInfoListResponseAvailability": {
        "type": "object",
        "properties": {
          "availability": {
            "description": "\u0414\u043E\u0441\u0442\u0443\u043F\u043D\u043E\u0441\u0442\u044C \u0442\u043E\u0432\u0430\u0440\u0430.",
            "type": "string"
          },
          "reasons": {
            "description": "\u041F\u0440\u0438\u0447\u0438\u043D\u0430, \u043F\u043E\u0447\u0435\u043C\u0443 \u0442\u043E\u0432\u0430\u0440 \u0441\u043A\u0440\u044B\u0442.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AvailabilityReason"
            }
          },
          "sku": {
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u0442\u043E\u0432\u0430\u0440\u0430.",
            "type": "integer",
            "format": "int64"
          },
          "source": {
            "description": "\u0421\u0441\u044B\u043B\u043A\u0430 \u043D\u0430 \u0438\u0441\u0442\u043E\u0447\u043D\u0438\u043A.",
            "type": "string"
          }
        }
      },
      "GetProductInfoListResponseCommission": {
        "type": "object",
        "title": "object",
        "properties": {
          "delivery_amount": {
            "type": "number",
            "format": "double",
            "description": "\u0421\u0442\u043E\u0438\u043C\u043E\u0441\u0442\u044C \u0434\u043E\u0441\u0442\u0430\u0432\u043A\u0438."
          },
          "percent": {
            "type": "number",
            "format": "double",
            "description": "\u041F\u0440\u043E\u0446\u0435\u043D\u0442 \u043A\u043E\u043C\u0438\u0441\u0441\u0438\u0438."
          },
          "return_amount": {
            "description": "\u0421\u0442\u043E\u0438\u043C\u043E\u0441\u0442\u044C \u0432\u043E\u0437\u0432\u0440\u0430\u0442\u0430.",
            "type": "number",
            "format": "double"
          },
          "sale_schema": {
            "type": "string",
            "description": "\u0421\u0445\u0435\u043C\u0430 \u043F\u0440\u043E\u0434\u0430\u0436\u0438."
          },
          "value": {
            "type": "number",
            "format": "double",
            "description": "\u0421\u0443\u043C\u043C\u0430 \u043A\u043E\u043C\u0438\u0441\u0441\u0438\u0438."
          }
        }
      },
      "GetProductInfoListResponseError": {
        "type": "object",
        "title": "object",
        "properties": {
          "attribute_id": {
            "type": "integer",
            "format": "int64",
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u0445\u0430\u0440\u0430\u043A\u0442\u0435\u0440\u0438\u0441\u0442\u0438\u043A\u0438."
          },
          "code": {
            "type": "string",
            "description": "\u041A\u043E\u0434 \u043E\u0448\u0438\u0431\u043A\u0438."
          },
          "field": {
            "type": "string",
            "description": "\u041F\u043E\u043B\u0435, \u0432 \u043A\u043E\u0442\u043E\u0440\u043E\u043C \u043D\u0430\u0439\u0434\u0435\u043D\u0430 \u043E\u0448\u0438\u0431\u043A\u0430."
          },
          "level": {
            "$ref": "#/components/schemas/ErrorErrorLevel"
          },
          "state": {
            "type": "string",
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u0442\u043E\u0432\u0430\u0440\u0430, \u0432 \u043A\u043E\u0442\u043E\u0440\u043E\u043C \u043F\u0440\u043E\u0438\u0437\u043E\u0448\u043B\u0430 \u043E\u0448\u0438\u0431\u043A\u0430."
          },
          "texts": {
            "$ref": "#/components/schemas/ErrorHumanTexts"
          }
        }
      },
      "GetProductInfoListResponseModelInfo": {
        "type": "object",
        "title": "object",
        "description": "\u0418\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044F \u043E \u043C\u043E\u0434\u0435\u043B\u0438 \u0442\u043E\u0432\u0430\u0440\u0430.",
        "properties": {
          "count": {
            "description": "\u041A\u043E\u043B\u0438\u0447\u0435\u0441\u0442\u0432\u043E \u0442\u043E\u0432\u0430\u0440\u043E\u0432 \u0432 \u043E\u0442\u0432\u0435\u0442\u0435.",
            "type": "integer",
            "format": "int64"
          },
          "model_id": {
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u043C\u043E\u0434\u0435\u043B\u0438 \u0442\u043E\u0432\u0430\u0440\u0430.",
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "GetProductInfoListResponsePriceIndexes": {
        "type": "object",
        "title": "object",
        "description": "\u0426\u0435\u043D\u043E\u0432\u044B\u0435 \u0438\u043D\u0434\u0435\u043A\u0441\u044B \u0442\u043E\u0432\u0430\u0440\u0430.",
        "properties": {
          "color_index": {
            "$ref": "#/components/schemas/PriceIndexesColorIndex"
          },
          "external_index_data": {
            "$ref": "#/components/schemas/PriceIndexesIndexDataExternal"
          },
          "ozon_index_data": {
            "$ref": "#/components/schemas/PriceIndexesIndexDataOzon"
          },
          "self_marketplaces_index_data": {
            "$ref": "#/components/schemas/PriceIndexesIndexDataSelf"
          }
        }
      },
      "GetProductInfoListResponseSource": {
        "type": "object",
        "title": "object",
        "properties": {
          "created_at": {
            "description": "\u0414\u0430\u0442\u0430 \u0441\u043E\u0437\u0434\u0430\u043D\u0438\u044F \u0442\u043E\u0432\u0430\u0440\u0430.",
            "type": "string",
            "format": "date-time"
          },
          "quant_code": {
            "description": "\u0421\u043F\u0438\u0441\u043E\u043A \u043A\u0432\u0430\u043D\u0442\u043E\u0432 \u0441 \u0442\u043E\u0432\u0430\u0440\u0430\u043C\u0438.",
            "type": "string"
          },
          "shipment_type": {
            "$ref": "#/components/schemas/SourceShipmentType"
          },
          "sku": {
            "type": "integer",
            "format": "int64",
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u0442\u043E\u0432\u0430\u0440\u0430 \u043D\u0430 Ozon \u2014 SKU."
          },
          "source": {
            "type": "string",
            "description": "\u0421\u0445\u0435\u043C\u0430 \u043F\u0440\u043E\u0434\u0430\u0436\u0438:\n- \u0060SDS\u0060 \u2014 FBO \u0438 FBS \u0441 \u043E\u0434\u0438\u043D\u0430\u043A\u043E\u0432\u044B\u043C SKU;\n- \u0060FBO\u0060;\n- \u0060FBS\u0060.\n"
          }
        }
      },
      "GetProductInfoListResponseStatuses": {
        "type": "object",
        "title": "object",
        "description": "\u0418\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044F \u043E \u0441\u0442\u0430\u0442\u0443\u0441\u0430\u0445 \u0442\u043E\u0432\u0430\u0440\u0430.",
        "properties": {
          "is_created": {
            "description": "\u0060true\u0060, \u0435\u0441\u043B\u0438 \u0442\u043E\u0432\u0430\u0440 \u0441\u043E\u0437\u0434\u0430\u043D \u043A\u043E\u0440\u0440\u0435\u043A\u0442\u043D\u043E.\n",
            "type": "boolean"
          },
          "moderate_status": {
            "type": "string",
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u043C\u043E\u0434\u0435\u0440\u0430\u0446\u0438\u0438."
          },
          "status": {
            "type": "string",
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u0442\u043E\u0432\u0430\u0440\u0430."
          },
          "status_description": {
            "type": "string",
            "description": "\u041E\u043F\u0438\u0441\u0430\u043D\u0438\u0435 \u0441\u0442\u0430\u0442\u0443\u0441\u0430 \u0442\u043E\u0432\u0430\u0440\u0430."
          },
          "status_failed": {
            "type": "string",
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u0442\u043E\u0432\u0430\u0440\u0430, \u0432 \u043A\u043E\u0442\u043E\u0440\u043E\u043C \u0432\u043E\u0437\u043D\u0438\u043A\u043B\u0430 \u043E\u0448\u0438\u0431\u043A\u0430."
          },
          "status_name": {
            "type": "string",
            "description": "\u041D\u0430\u0437\u0432\u0430\u043D\u0438\u0435 \u0441\u0442\u0430\u0442\u0443\u0441\u0430 \u0442\u043E\u0432\u0430\u0440\u0430."
          },
          "status_tooltip": {
            "type": "string",
            "description": "\u041E\u043F\u0438\u0441\u0430\u043D\u0438\u0435 \u0441\u0442\u0430\u0442\u0443\u0441\u0430."
          },
          "status_updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "\u0412\u0440\u0435\u043C\u044F \u043F\u043E\u0441\u043B\u0435\u0434\u043D\u0435\u0433\u043E \u0438\u0437\u043C\u0435\u043D\u0435\u043D\u0438\u044F \u0441\u0442\u0430\u0442\u0443\u0441\u0430."
          },
          "validation_status": {
            "type": "string",
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u0432\u0430\u043B\u0438\u0434\u0430\u0446\u0438\u0438."
          }
        }
      },
      "GetProductInfoListResponseStocks": {
        "type": "object",
        "title": "object",
        "description": "\u0418\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044F \u043E\u0431 \u043E\u0441\u0442\u0430\u0442\u043A\u0430\u0445 \u0442\u043E\u0432\u0430\u0440\u0430.",
        "properties": {
          "has_stock": {
            "type": "boolean",
            "description": "\u0060true\u0060, \u0435\u0441\u043B\u0438 \u0435\u0441\u0442\u044C \u043E\u0441\u0442\u0430\u0442\u043E\u043A \u043D\u0430 \u0441\u043A\u043B\u0430\u0434\u0430\u0445.\n"
          },
          "stocks": {
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u043E\u0441\u0442\u0430\u0442\u043A\u043E\u0432 \u0442\u043E\u0432\u0430\u0440\u0430.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetProductInfoListResponseStocksStock"
            }
          }
        }
      },
      "GetProductInfoListResponseStocksStock": {
        "type": "object",
        "title": "object",
        "properties": {
          "present": {
            "type": "integer",
            "format": "int32",
            "description": "\u0421\u0435\u0439\u0447\u0430\u0441 \u043D\u0430 \u0441\u043A\u043B\u0430\u0434\u0435."
          },
          "reserved": {
            "type": "integer",
            "format": "int32",
            "description": "\u0417\u0430\u0440\u0435\u0437\u0435\u0440\u0432\u0438\u0440\u043E\u0432\u0430\u043D\u043E."
          },
          "sku": {
            "type": "integer",
            "format": "int64",
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u0442\u043E\u0432\u0430\u0440\u0430 \u0432 \u0441\u0438\u0441\u0442\u0435\u043C\u0435 Ozon \u2014 SKU."
          },
          "source": {
            "type": "string",
            "description": "\u0421\u0445\u0435\u043C\u0430 \u043F\u0440\u043E\u0434\u0430\u0436\u0438."
          }
        }
      },
      "GetProductInfoListResponseVisibilityDetails": {
        "type": "object",
        "title": "object",
        "description": "\u041D\u0430\u0441\u0442\u0440\u043E\u0439\u043A\u0438 \u0432\u0438\u0434\u0438\u043C\u043E\u0441\u0442\u0438 \u0442\u043E\u0432\u0430\u0440\u0430.",
        "properties": {
          "has_price": {
            "type": "boolean",
            "description": "\u0415\u0441\u043B\u0438 \u0443\u0441\u0442\u0430\u043D\u043E\u0432\u043B\u0435\u043D\u0430 \u0446\u0435\u043D\u0430 \u2014 \u0060true\u0060."
          },
          "has_stock": {
            "type": "boolean",
            "description": "\u0415\u0441\u043B\u0438 \u0435\u0441\u0442\u044C \u043E\u0441\u0442\u0430\u0442\u043E\u043A \u043D\u0430 \u0441\u043A\u043B\u0430\u0434\u0430\u0445 \u2014 \u0060true\u0060."
          }
        }
      },
      "HumanTextsParam": {
        "type": "object",
        "title": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "\u041D\u0430\u0437\u0432\u0430\u043D\u0438\u0435 \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440\u0430."
          },
          "value": {
            "type": "string",
            "description": "\u0417\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440\u0430."
          }
        }
      },
      "PriceIndexesColorIndex": {
        "type": "string",
        "title": "string",
        "default": "COLOR_INDEX_UNSPECIFIED",
        "enum": [
          "COLOR_INDEX_UNSPECIFIED",
          "COLOR_INDEX_WITHOUT_INDEX",
          "COLOR_INDEX_SUPER",
          "COLOR_INDEX_GREEN",
          "COLOR_INDEX_YELLOW",
          "COLOR_INDEX_RED"
        ],
        "description": "\u0412\u0438\u0434\u044B \u0438\u043D\u0434\u0435\u043A\u0441\u0430 \u0446\u0435\u043D:\n- \u0060COLOR_INDEX_UNSPECIFIED\u0060 \u2014 \u043D\u0435 \u043E\u043F\u0440\u0435\u0434\u0435\u043B\u0451\u043D,\n- \u0060COLOR_INDEX_WITHOUT_INDEX\u0060 \u2014 \u043E\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0443\u0435\u0442,\n- \u0060COLOR_INDEX_SUPER\u0060 \u2014 \u0441\u0443\u043F\u0435\u0440\u0432\u044B\u0433\u043E\u0434\u043D\u044B\u0439,\n- \u0060COLOR_INDEX_GREEN\u0060 \u2014 \u0432\u044B\u0433\u043E\u0434\u043D\u044B\u0439,\n- \u0060COLOR_INDEX_YELLOW\u0060 \u2014 \u0443\u043C\u0435\u0440\u0435\u043D\u043D\u044B\u0439,\n- \u0060COLOR_INDEX_RED\u0060 \u2014 \u043D\u0435\u0432\u044B\u0433\u043E\u0434\u043D\u044B\u0439.\n\n[\u041F\u043E\u0434\u0440\u043E\u0431\u043D\u0435\u0435 \u043E\u0431 \u0438\u043D\u0434\u0435\u043A\u0441\u0435 \u0446\u0435\u043D \u0432 \u0411\u0430\u0437\u0435 \u0437\u043D\u0430\u043D\u0438\u0439 \u043F\u0440\u043E\u0434\u0430\u0432\u0446\u0430](https://seller-edu.ozon.ru/ceny-i-akcii/rabota-s-cenami/price-index)\n"
      },
      "PriceIndexesIndexDataExternal": {
        "type": "object",
        "title": "object",
        "description": "\u0426\u0435\u043D\u0430 \u0442\u043E\u0432\u0430\u0440\u0430 \u0443 \u043A\u043E\u043D\u043A\u0443\u0440\u0435\u043D\u0442\u043E\u0432 \u043D\u0430 \u0434\u0440\u0443\u0433\u0438\u0445 \u043F\u043B\u043E\u0449\u0430\u0434\u043A\u0430\u0445.",
        "properties": {
          "minimal_price": {
            "type": "string",
            "description": "\u041C\u0438\u043D\u0438\u043C\u0430\u043B\u044C\u043D\u0430\u044F \u0446\u0435\u043D\u0430 \u0442\u043E\u0432\u0430\u0440\u0430 \u0443 \u043A\u043E\u043D\u043A\u0443\u0440\u0435\u043D\u0442\u043E\u0432 \u043D\u0430 \u0434\u0440\u0443\u0433\u043E\u0439 \u043F\u043B\u043E\u0449\u0430\u0434\u043A\u0435."
          },
          "minimal_price_currency": {
            "type": "string",
            "description": "\u0412\u0430\u043B\u044E\u0442\u0430 \u0446\u0435\u043D\u044B."
          },
          "price_index_value": {
            "type": "number",
            "format": "double",
            "description": "\u0417\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u0438\u043D\u0434\u0435\u043A\u0441\u0430 \u0446\u0435\u043D\u044B."
          }
        }
      },
      "PriceIndexesIndexDataOzon": {
        "type": "object",
        "title": "object",
        "description": "\u0426\u0435\u043D\u0430 \u0442\u043E\u0432\u0430\u0440\u0430 \u0443 \u043A\u043E\u043D\u043A\u0443\u0440\u0435\u043D\u0442\u043E\u0432 \u043D\u0430 Ozon.",
        "properties": {
          "minimal_price": {
            "type": "string",
            "description": "\u041C\u0438\u043D\u0438\u043C\u0430\u043B\u044C\u043D\u0430\u044F \u0446\u0435\u043D\u0430 \u0442\u043E\u0432\u0430\u0440\u0430 \u0443 \u043A\u043E\u043D\u043A\u0443\u0440\u0435\u043D\u0442\u043E\u0432 \u043D\u0430 Ozon."
          },
          "minimal_price_currency": {
            "type": "string",
            "description": "\u0412\u0430\u043B\u044E\u0442\u0430 \u0446\u0435\u043D\u044B."
          },
          "price_index_value": {
            "type": "number",
            "format": "double",
            "description": "\u0417\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u0438\u043D\u0434\u0435\u043A\u0441\u0430 \u0446\u0435\u043D\u044B."
          }
        }
      },
      "PriceIndexesIndexDataSelf": {
        "type": "object",
        "title": "object",
        "description": "\u0426\u0435\u043D\u0430 \u0432\u0430\u0448\u0435\u0433\u043E \u0442\u043E\u0432\u0430\u0440\u0430 \u043D\u0430 \u0434\u0440\u0443\u0433\u0438\u0445 \u043F\u043B\u043E\u0449\u0430\u0434\u043A\u0430\u0445.",
        "properties": {
          "minimal_price": {
            "type": "string",
            "description": "\u041C\u0438\u043D\u0438\u043C\u0430\u043B\u044C\u043D\u0430\u044F \u0446\u0435\u043D\u0430 \u0432\u0430\u0448\u0435\u0433\u043E \u0442\u043E\u0432\u0430\u0440\u0430 \u043D\u0430 \u0434\u0440\u0443\u0433\u0438\u0445 \u043F\u043B\u043E\u0449\u0430\u0434\u043A\u0430\u0445."
          },
          "minimal_price_currency": {
            "type": "string",
            "description": "\u0412\u0430\u043B\u044E\u0442\u0430 \u0446\u0435\u043D\u044B."
          },
          "price_index_value": {
            "type": "number",
            "format": "double",
            "description": "\u0417\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u0438\u043D\u0434\u0435\u043A\u0441\u0430 \u0446\u0435\u043D\u044B."
          }
        }
      },
      "RatingStatusEnum": {
        "type": "string",
        "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430:\n- \u0060UNKNOWN\u0060 \u2014 \u043D\u0435 \u043E\u043F\u0440\u0435\u0434\u0435\u043B\u0451\u043D;\n- \u0060OK\u0060 \u2014 \u0445\u043E\u0440\u043E\u0448\u0438\u0439;\n- \u0060WARNING\u0060 \u2014 \u043F\u043E\u043A\u0430\u0437\u0430\u0442\u0435\u043B\u0438 \u0442\u0440\u0435\u0431\u0443\u044E\u0442 \u0432\u043D\u0438\u043C\u0430\u043D\u0438\u044F;\n- \u0060CRITICAL\u0060 \u2014 \u043A\u0440\u0438\u0442\u0438\u0447\u043D\u044B\u0439.\n",
        "default": "UNKNOWN",
        "enum": [
          "UNKNOWN",
          "OK",
          "WARNING",
          "CRITICAL"
        ]
      },
      "RatingValueCurrent": {
        "type": "object",
        "description": "\u0417\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430.",
        "properties": {
          "date_from": {
            "type": "string",
            "format": "date-time",
            "description": "\u0414\u0430\u0442\u0430 \u043D\u0430\u0447\u0430\u043B\u0430 \u043F\u043E\u0434\u0441\u0447\u0451\u0442\u0430 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430."
          },
          "date_to": {
            "type": "string",
            "format": "date-time",
            "description": "\u0414\u0430\u0442\u0430 \u043A\u043E\u043D\u0446\u0430 \u043F\u043E\u0434\u0441\u0447\u0451\u0442\u0430 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430."
          },
          "formatted": {
            "type": "string",
            "description": "\u041E\u0442\u0444\u043E\u0440\u043C\u0430\u0442\u0438\u0440\u043E\u0432\u0430\u043D\u043D\u043E\u0435 \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430."
          },
          "status": {
            "$ref": "#/components/schemas/v1RatingStatus"
          },
          "value": {
            "type": "number",
            "format": "double",
            "description": "\u0417\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430 \u0432 \u0441\u0438\u0441\u0442\u0435\u043C\u0435."
          }
        }
      },
      "RatingValuePast": {
        "type": "object",
        "description": "\u041F\u0440\u0435\u0434\u044B\u0434\u0443\u0449\u0435\u0435 \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430.",
        "properties": {
          "date_from": {
            "type": "string",
            "format": "date-time",
            "description": "\u0414\u0430\u0442\u0430 \u043D\u0430\u0447\u0430\u043B\u0430 \u043F\u043E\u0434\u0441\u0447\u0451\u0442\u0430 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430."
          },
          "date_to": {
            "type": "string",
            "format": "date-time",
            "description": "\u0414\u0430\u0442\u0430 \u043A\u043E\u043D\u0446\u0430 \u043F\u043E\u0434\u0441\u0447\u0451\u0442\u0430 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430."
          },
          "formatted": {
            "type": "string",
            "description": "\u041E\u0442\u0444\u043E\u0440\u043C\u0430\u0442\u0438\u0440\u043E\u0432\u0430\u043D\u043D\u043E\u0435 \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430."
          },
          "status": {
            "$ref": "#/components/schemas/v1RatingStatus"
          },
          "value": {
            "type": "number",
            "format": "double",
            "description": "\u0417\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430 \u0432 \u0441\u0438\u0441\u0442\u0435\u043C\u0435."
          }
        }
      },
      "ReasonHumanText": {
        "type": "object",
        "description": "\u0418\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044F \u043E \u043F\u0440\u0438\u0447\u0438\u043D\u0435.",
        "properties": {
          "text": {
            "description": "\u041E\u043F\u0438\u0441\u0430\u043D\u0438\u0435 \u043F\u0440\u0438\u0447\u0438\u043D\u044B.",
            "type": "string"
          }
        }
      },
      "SellerInfoResponseCompany": {
        "type": "object",
        "description": "\u041A\u043E\u043C\u043F\u0430\u043D\u0438\u044F.",
        "properties": {
          "country": {
            "type": "string",
            "description": "\u0421\u0442\u0440\u0430\u043D\u0430."
          },
          "currency": {
            "type": "string",
            "description": "\u0412\u0430\u043B\u044E\u0442\u0430:\n- \u0060RUB\u0060 \u2014 \u0440\u043E\u0441\u0441\u0438\u0439\u0441\u043A\u0438\u0439 \u0440\u0443\u0431\u043B\u044C;\n- \u0060EUR\u0060 \u2014 \u0435\u0432\u0440\u043E;\n- \u0060USD\u0060 \u2014 \u0434\u043E\u043B\u043B\u0430\u0440 \u0421\u0428\u0410;\n- \u0060CNY\u0060 \u2014 \u044E\u0430\u043D\u044C;\n- \u0060BYN\u0060 \u2014 \u0431\u0435\u043B\u043E\u0440\u0443\u0441\u0441\u043A\u0438\u0439 \u0440\u0443\u0431\u043B\u044C;\n- \u0060KZT\u0060 \u2014 \u0442\u0435\u043D\u0433\u0435;\n- \u0060KGS\u0060 \u2014 \u043A\u0438\u0440\u0433\u0438\u0437\u0441\u043A\u0438\u0439 \u0441\u043E\u043C.\n"
          },
          "inn": {
            "type": "string",
            "description": "\u0418\u041D\u041D."
          },
          "legal_name": {
            "type": "string",
            "description": "\u041D\u0430\u0437\u0432\u0430\u043D\u0438\u0435 \u044E\u0440\u0438\u0434\u0438\u0447\u0435\u0441\u043A\u043E\u0433\u043E \u043B\u0438\u0446\u0430."
          },
          "name": {
            "type": "string",
            "description": "\u041D\u0430\u0437\u0432\u0430\u043D\u0438\u0435 \u043A\u043E\u043C\u043F\u0430\u043D\u0438\u0438 \u043D\u0430 Ozon."
          },
          "ogrn": {
            "type": "string",
            "description": "\u041E\u0413\u0420\u041D."
          },
          "ownership_form": {
            "type": "string",
            "description": "\u0424\u043E\u0440\u043C\u0430 \u0441\u043E\u0431\u0441\u0442\u0432\u0435\u043D\u043D\u043E\u0441\u0442\u0438."
          },
          "tax_system": {
            "$ref": "#/components/schemas/CompanyTaxSystemEnum"
          }
        }
      },
      "SellerInfoResponseRating": {
        "type": "object",
        "properties": {
          "current_value": {
            "$ref": "#/components/schemas/RatingValueCurrent"
          },
          "name": {
            "type": "string",
            "description": "\u041D\u0430\u0437\u0432\u0430\u043D\u0438\u0435 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430."
          },
          "past_value": {
            "$ref": "#/components/schemas/RatingValuePast"
          },
          "rating": {
            "type": "string",
            "description": "\u041D\u0430\u0437\u0432\u0430\u043D\u0438\u0435 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430 \u0432 \u0441\u0438\u0441\u0442\u0435\u043C\u0435."
          },
          "status": {
            "$ref": "#/components/schemas/RatingStatusEnum"
          },
          "value_type": {
            "$ref": "#/components/schemas/SellerInfoResponseRatingTypeEnum"
          }
        }
      },
      "SellerInfoResponseRatingTypeEnum": {
        "type": "string",
        "description": "\u0422\u0438\u043F \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u044F:\n- \u0060UNKNOWN\u0060 \u2014 \u043D\u0435 \u043E\u043F\u0440\u0435\u0434\u0435\u043B\u0451\u043D, \n- \u0060INDEX\u0060 \u2014 \u0438\u043D\u0434\u0435\u043A\u0441,\n- \u0060PERCENT\u0060 \u2014 \u043F\u0440\u043E\u0446\u0435\u043D\u0442,\n- \u0060TIME\u0060 \u2014 \u0432\u0440\u0435\u043C\u044F,\n- \u0060RATIO\u0060 \u2014 \u043A\u043E\u044D\u0444\u0444\u0438\u0446\u0438\u0435\u043D\u0442,\n- \u0060REVIEW_SCORE\u0060 \u2014 \u043E\u0446\u0435\u043D\u043A\u0430,\n- \u0060COUNT\u0060 \u2014 \u0441\u0447\u0451\u0442.\n",
        "default": "UNKNOWN",
        "enum": [
          "UNKNOWN",
          "INDEX",
          "PERCENT",
          "TIME",
          "RATIO",
          "REVIEW_SCORE",
          "COUNT"
        ]
      },
      "SellerInfoResponseSubscription": {
        "type": "object",
        "description": "\u041F\u043E\u0434\u043F\u0438\u0441\u043A\u0430.",
        "properties": {
          "is_premium": {
            "type": "boolean",
            "description": "\u0060true\u0060, \u0435\u0441\u043B\u0438 \u0435\u0441\u0442\u044C \u043F\u043E\u0434\u043F\u0438\u0441\u043A\u0430.\n"
          },
          "type": {
            "$ref": "#/components/schemas/SellerInfoResponseSubscriptionTypeEnum"
          }
        }
      },
      "SellerInfoResponseSubscriptionTypeEnum": {
        "type": "string",
        "default": "UNKNOWN",
        "description": "\u0422\u0438\u043F \u043F\u043E\u0434\u043F\u0438\u0441\u043A\u0438:\n- \u0060UNKNOWN\u0060 \u2014 \u043D\u0435\u0438\u0437\u0432\u0435\u0441\u0442\u043D\u044B\u0439,\n- \u0060UNSPECIFIED\u0060 \u2014 \u043D\u0435\u0442 \u043F\u043E\u0434\u043F\u0438\u0441\u043A\u0438,\n- \u0060PREMIUM\u0060 \u2014 Premium,\n- \u0060PREMIUM_LITE\u0060 \u2014 Premium Lite,\n- \u0060PREMIUM_PLUS\u0060 \u2014 Premium Plus,\n- \u0060PREMIUM_PRO\u0060 \u2014 Premium Pro.\n",
        "enum": [
          "UNKNOWN",
          "UNSPECIFIED",
          "PREMIUM",
          "PREMIUM_LITE",
          "PREMIUM_PLUS",
          "PREMIUM_PRO"
        ]
      },
      "SourceShipmentType": {
        "type": "string",
        "title": "string",
        "default": "SHIPMENT_TYPE_UNSPECIFIED",
        "enum": [
          "SHIPMENT_TYPE_UNSPECIFIED",
          "SHIPMENT_TYPE_GENERAL",
          "SHIPMENT_TYPE_BOX",
          "SHIPMENT_TYPE_PALLET"
        ],
        "description": "\u0422\u0438\u043F \u0443\u043F\u0430\u043A\u043E\u0432\u043A\u0438:\n- \u0060SHIPMENT_TYPE_UNSPECIFIED\u0060 \u2014 \u043D\u0435 \u0443\u043A\u0430\u0437\u0430\u043D\u043E;\n- \u0060SHIPMENT_TYPE_GENERAL\u0060 \u2014 \u043E\u0431\u044B\u0447\u043D\u044B\u0439 \u0442\u043E\u0432\u0430\u0440;\n- \u0060SHIPMENT_TYPE_BOX\u0060 \u2014 \u043A\u043E\u0440\u043E\u0431\u043A\u0430;\n- \u0060SHIPMENT_TYPE_PALLET\u0060 \u2014 \u043F\u0430\u043B\u0435\u0442\u0430.\n"
      },
      "TimetableWorkingHours": {
        "type": "object",
        "description": "\u0427\u0430\u0441\u044B \u0440\u0430\u0431\u043E\u0442\u044B \u0441\u043A\u043B\u0430\u0434\u0430.",
        "properties": {
          "time_from": {
            "description": "\u0412\u0440\u0435\u043C\u044F \u043D\u0430\u0447\u0430\u043B\u0430 \u0440\u0430\u0431\u043E\u0442\u044B.",
            "type": "string",
            "format": "date-time"
          },
          "time_to": {
            "description": "\u0412\u0440\u0435\u043C\u044F \u043E\u043A\u043E\u043D\u0447\u0430\u043D\u0438\u044F \u0440\u0430\u0431\u043E\u0442\u044B.",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WarehouseAddressInfo": {
        "type": "object",
        "description": "\u0418\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044F \u043E \u0440\u0430\u0441\u043F\u043E\u043B\u043E\u0436\u0435\u043D\u0438\u0438 \u0441\u043A\u043B\u0430\u0434\u0430.",
        "properties": {
          "address": {
            "description": "\u0410\u0434\u0440\u0435\u0441 \u0441\u043A\u043B\u0430\u0434\u0430.",
            "type": "string"
          },
          "latitude": {
            "description": "\u0428\u0438\u0440\u043E\u0442\u0430.",
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "description": "\u0414\u043E\u043B\u0433\u043E\u0442\u0430.",
            "type": "number",
            "format": "double"
          },
          "utc": {
            "description": "\u0427\u0430\u0441\u043E\u0432\u043E\u0439 \u043F\u043E\u044F\u0441.",
            "type": "string"
          }
        }
      },
      "WarehouseCarriageLabelTypeEnum": {
        "type": "string",
        "default": "UNSPECIFIED",
        "description": "\u0422\u0438\u043F \u044D\u0442\u0438\u043A\u0435\u0442\u043A\u0438:\n- \u0060UNSPECIFIED\u0060 \u2014 \u043D\u0435\u0438\u0437\u0432\u0435\u0441\u0442\u043D\u044B\u0439 \u0442\u0438\u043F;\n- \u0060BIG\u0060 \u2014 \u0431\u043E\u043B\u044C\u0448\u0430\u044F \u044D\u0442\u0438\u043A\u0435\u0442\u043A\u0430;\n- \u0060SMALL\u0060 \u2014 \u043C\u0430\u043B\u0435\u043D\u044C\u043A\u0430\u044F \u044D\u0442\u0438\u043A\u0435\u0442\u043A\u0430.\n",
        "enum": [
          "UNSPECIFIED",
          "BIG",
          "SMALL"
        ]
      },
      "WarehouseFirstMile": {
        "type": "object",
        "description": "\u041F\u0435\u0440\u0432\u0430\u044F \u043C\u0438\u043B\u044F.",
        "properties": {
          "dropoff_point_id": {
            "type": "string",
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 drop-off \u043F\u0443\u043D\u043A\u0442\u0430."
          },
          "first_mile_is_changing": {
            "type": "boolean",
            "description": "\u041F\u0440\u0438\u0437\u043D\u0430\u043A, \u0447\u0442\u043E \u043D\u0430\u0441\u0442\u0440\u043E\u0439\u043A\u0438 \u0441\u043A\u043B\u0430\u0434\u0430 \u043E\u0431\u043D\u043E\u0432\u043B\u044F\u044E\u0442\u0441\u044F."
          },
          "timeslot_from": {
            "type": "string",
            "description": "\u0412\u0440\u0435\u043C\u044F \u043D\u0430\u0447\u0430\u043B\u0430 \u0442\u0430\u0439\u043C\u0441\u043B\u043E\u0442\u0430."
          },
          "timeslot_id": {
            "type": "integer",
            "format": "int64",
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u0442\u0430\u0439\u043C\u0441\u043B\u043E\u0442\u0430."
          },
          "timeslot_to": {
            "type": "string",
            "description": "\u0412\u0440\u0435\u043C\u044F \u043E\u043A\u043E\u043D\u0447\u0430\u043D\u0438\u044F \u0442\u0430\u0439\u043C\u0441\u043B\u043E\u0442\u0430."
          },
          "type": {
            "$ref": "#/components/schemas/FirstMileTypeEnum"
          }
        }
      },
      "WarehouseListV2ResponseWarehouse": {
        "type": "object",
        "properties": {
          "address_info": {
            "$ref": "#/components/schemas/WarehouseAddressInfo"
          },
          "carriage_label_type": {
            "$ref": "#/components/schemas/WarehouseCarriageLabelTypeEnum"
          },
          "courier_comment": {
            "description": "\u041A\u043E\u043C\u043C\u0435\u043D\u0442\u0430\u0440\u0438\u0439 \u0434\u043B\u044F \u043A\u0443\u0440\u044C\u0435\u0440\u0430.",
            "type": "string"
          },
          "courier_phones": {
            "description": "\u041D\u043E\u043C\u0435\u0440\u0430 \u0442\u0435\u043B\u0435\u0444\u043E\u043D\u043E\u0432 \u0434\u043B\u044F \u0441\u0432\u044F\u0437\u0438 \u0441 \u043A\u0443\u0440\u044C\u0435\u0440\u043E\u043C.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "description": "\u0414\u0430\u0442\u0430 \u0438 \u0432\u0440\u0435\u043C\u044F \u0441\u043E\u0437\u0434\u0430\u043D\u0438\u044F \u0441\u043A\u043B\u0430\u0434\u0430.",
            "type": "string",
            "format": "date-time"
          },
          "cut_in_time": {
            "description": "\u0412\u0440\u0435\u043C\u044F \u043D\u0430 \u043E\u0442\u0433\u0440\u0443\u0437\u043A\u0443 \u0432 \u043C\u0438\u043D\u0443\u0442\u0430\u0445.",
            "format": "int64",
            "type": "integer"
          },
          "first_mile": {
            "$ref": "#/components/schemas/WarehouseFirstMile"
          },
          "has_entrusted_acceptance": {
            "type": "boolean",
            "description": "\u041F\u0440\u0438\u0437\u043D\u0430\u043A \u043F\u043E\u0434\u043A\u043B\u044E\u0447\u0435\u043D\u0438\u044F \u0434\u043E\u0432\u0435\u0440\u0438\u0442\u0435\u043B\u044C\u043D\u043E\u0439 \u043F\u0440\u0438\u0435\u043C\u043A\u0438."
          },
          "has_postings_limit": {
            "type": "boolean",
            "description": "\u041F\u0440\u0438\u0437\u043D\u0430\u043A \u043D\u0430\u043B\u0438\u0447\u0438\u044F \u043B\u0438\u043C\u0438\u0442\u0430 \u043C\u0438\u043D\u0438\u043C\u0430\u043B\u044C\u043D\u043E\u0433\u043E \u043A\u043E\u043B\u0438\u0447\u0435\u0441\u0442\u0432\u0430 \u0437\u0430\u043A\u0430\u0437\u043E\u0432. \u0060true\u0060, \u0435\u0441\u043B\u0438 \u043B\u0438\u043C\u0438\u0442 \u0435\u0441\u0442\u044C."
          },
          "is_auto_assembly": {
            "type": "boolean",
            "description": "\u041F\u0440\u0438\u0437\u043D\u0430\u043A \u0432\u043A\u043B\u044E\u0447\u0451\u043D\u043D\u043E\u0439 \u0430\u0432\u0442\u043E\u0441\u0431\u043E\u0440\u043A\u0438."
          },
          "is_comfort": {
            "type": "boolean",
            "description": "\u041F\u0440\u0438\u0437\u043D\u0430\u043A \u0434\u043E\u0441\u0442\u0430\u0432\u043A\u0438 comfort. \u0412\u0440\u0435\u043C\u044F \u0434\u043E\u0441\u0442\u0430\u0432\u043A\u0438 \u0434\u043E \u043F\u043E\u043A\u0443\u043F\u0430\u0442\u0435\u043B\u044F \u043E\u0442 60 \u043C\u0438\u043D\u0443\u0442."
          },
          "is_express": {
            "description": "\u041F\u0440\u0438\u0437\u043D\u0430\u043A \u0434\u043E\u0441\u0442\u0430\u0432\u043A\u0438 express. \u0412\u0440\u0435\u043C\u044F \u0434\u043E\u0441\u0442\u0430\u0432\u043A\u0438 \u0434\u043E \u043F\u043E\u043A\u0443\u043F\u0430\u0442\u0435\u043B\u044F \u043D\u0435 \u0431\u043E\u043B\u044C\u0448\u0435 60 \u043C\u0438\u043D\u0443\u0442.",
            "type": "boolean"
          },
          "is_kgt": {
            "type": "boolean",
            "description": "\u041F\u0440\u0438\u0437\u043D\u0430\u043A, \u0447\u0442\u043E \u0441\u043A\u043B\u0430\u0434 \u043F\u0440\u0438\u043D\u0438\u043C\u0430\u0435\u0442 \u043A\u0440\u0443\u043F\u043D\u043E\u0433\u0430\u0431\u0430\u0440\u0438\u0442\u043D\u044B\u0435 \u0442\u043E\u0432\u0430\u0440\u044B."
          },
          "is_rfbs": {
            "type": "boolean",
            "description": "\u041F\u0440\u0438\u0437\u043D\u0430\u043A \u0440\u0430\u0431\u043E\u0442\u044B \u0441\u043A\u043B\u0430\u0434\u0430 \u043F\u043E \u0441\u0445\u0435\u043C\u0435 rFBS."
          },
          "is_waybill_enabled": {
            "description": "\u041F\u0440\u0438\u0437\u043D\u0430\u043A \u0432\u043A\u043B\u044E\u0447\u0451\u043D\u043D\u043E\u0439 \u043F\u0435\u0447\u0430\u0442\u0438 \u0442\u0440\u0430\u043D\u0441\u043F\u043E\u0440\u0442\u043D\u043E\u0439 \u043D\u0430\u043A\u043B\u0430\u0434\u043D\u043E\u0439.",
            "type": "boolean"
          },
          "min_postings_limit": {
            "description": "\u041C\u0438\u043D\u0438\u043C\u0430\u043B\u044C\u043D\u043E\u0435 \u043A\u043E\u043B\u0438\u0447\u0435\u0441\u0442\u0432\u043E \u0437\u0430\u043A\u0430\u0437\u043E\u0432, \u043A\u043E\u0442\u043E\u0440\u043E\u0435 \u043C\u043E\u0436\u043D\u043E \u043F\u0440\u0438\u0432\u0435\u0437\u0442\u0438 \u0432 \u043E\u0434\u043D\u043E\u0439 \u043F\u043E\u0441\u0442\u0430\u0432\u043A\u0435.",
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "description": "\u041D\u0430\u0437\u0432\u0430\u043D\u0438\u0435 \u0441\u043A\u043B\u0430\u0434\u0430.",
            "type": "string"
          },
          "pause_at": {
            "type": "string",
            "format": "date-time",
            "description": "\u0414\u0430\u0442\u0430, \u043A\u043E\u0433\u0434\u0430 \u043F\u0440\u043E\u0434\u0430\u0432\u0435\u0446 \u043F\u043E\u0441\u0442\u0430\u0432\u0438\u043B \u0441\u043A\u043B\u0430\u0434 \u043D\u0430 \u043F\u0430\u0443\u0437\u0443. \u0415\u0441\u043B\u0438 \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u0060null\u0060, \u0441\u043A\u043B\u0430\u0434 \u0430\u043A\u0442\u0438\u0432\u043D\u044B\u0439. \u0422\u043E\u043B\u044C\u043A\u043E \u0434\u043B\u044F rFBS-\u0441\u043A\u043B\u0430\u0434\u0430."
          },
          "phone": {
            "description": "\u041D\u043E\u043C\u0435\u0440 \u0442\u0435\u043B\u0435\u0444\u043E\u043D\u0430 \u0441\u043A\u043B\u0430\u0434\u0430.",
            "type": "string"
          },
          "postings_limit": {
            "description": "\u041B\u0438\u043C\u0438\u0442 \u0437\u0430\u043A\u0430\u0437\u043E\u0432. \u0060-1\u0060, \u0435\u0441\u043B\u0438 \u043B\u0438\u043C\u0438\u0442\u0430 \u043D\u0435\u0442.",
            "type": "integer",
            "format": "int32"
          },
          "sla_cut_in": {
            "description": "\u041C\u0438\u043D\u0438\u043C\u0430\u043B\u044C\u043D\u043E\u0435 \u0432\u0440\u0435\u043C\u044F \u043D\u0430 \u0441\u0431\u043E\u0440\u043A\u0443 \u0437\u0430\u043A\u0430\u0437\u0430 \u0432 \u043C\u0438\u043D\u0443\u0442\u0430\u0445.",
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u0441\u043A\u043B\u0430\u0434\u0430.",
            "type": "string"
          },
          "timetable": {
            "$ref": "#/components/schemas/WarehouseTimetable"
          },
          "updated_at": {
            "description": "\u0414\u0430\u0442\u0430 \u0438 \u0432\u0440\u0435\u043C\u044F \u043F\u043E\u0441\u043B\u0435\u0434\u043D\u0435\u0433\u043E \u043E\u0431\u043D\u043E\u0432\u043B\u0435\u043D\u0438\u044F \u0434\u0430\u043D\u043D\u044B\u0445 \u0441\u043A\u043B\u0430\u0434\u0430.",
            "type": "string",
            "format": "date-time"
          },
          "warehouse_id": {
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u0441\u043A\u043B\u0430\u0434\u0430.",
            "type": "integer",
            "format": "int64"
          },
          "warehouse_type": {
            "description": "\u0422\u0438\u043F \u0441\u043A\u043B\u0430\u0434\u0430.",
            "type": "string"
          },
          "with_item_list": {
            "description": "\u041F\u0440\u0438\u0437\u043D\u0430\u043A \u0432\u043A\u043B\u044E\u0447\u0451\u043D\u043D\u043E\u0439 \u043F\u0435\u0447\u0430\u0442\u0438 \u043B\u0438\u0441\u0442\u0430 \u043F\u043E\u0434\u0431\u043E\u0440\u0430.",
            "type": "boolean"
          },
          "working_days": {
            "description": "\u0420\u0430\u0431\u043E\u0447\u0438\u0435 \u0434\u043D\u0438 \u0441\u043A\u043B\u0430\u0434\u0430:\n- \u0060UNSPECIFIED\u0060 \u2014 \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u043D\u0435 \u043E\u043F\u0440\u0435\u0434\u0435\u043B\u0435\u043D\u043E;\n- \u0060MONDAY\u0060 \u2014 \u043F\u043E\u043D\u0435\u0434\u0435\u043B\u044C\u043D\u0438\u043A;\n- \u0060TUESDAY\u0060 \u2014 \u0432\u0442\u043E\u0440\u043D\u0438\u043A;\n- \u0060WEDNESDAY\u0060 \u2014 \u0441\u0440\u0435\u0434\u0430;\n- \u0060THURSDAY\u0060 \u2014 \u0447\u0435\u0442\u0432\u0435\u0440\u0433;\n- \u0060FRIDAY\u0060 \u2014 \u043F\u044F\u0442\u043D\u0438\u0446\u0430;\n- \u0060SATURDAY\u0060 \u2014 \u0441\u0443\u0431\u0431\u043E\u0442\u0430;\n- \u0060SUNDAY\u0060 \u2014 \u0432\u043E\u0441\u043A\u0440\u0435\u0441\u0435\u043D\u044C\u0435.\n",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WarehouseWorkingDaysEnum"
            }
          }
        }
      },
      "WarehouseTimetable": {
        "type": "object",
        "description": "\u0420\u0430\u0441\u043F\u0438\u0441\u0430\u043D\u0438\u0435 \u0440\u0430\u0431\u043E\u0442\u044B \u0441\u043A\u043B\u0430\u0434\u0430.",
        "properties": {
          "timetable_from": {
            "description": "\u0414\u0430\u0442\u0430 \u043D\u0430\u0447\u0430\u043B\u0430 \u0440\u0430\u0431\u043E\u0442\u044B \u0441\u043A\u043B\u0430\u0434\u0430.",
            "type": "string",
            "format": "date-time"
          },
          "timetable_to": {
            "description": "\u0414\u0430\u0442\u0430 \u043E\u043A\u043E\u043D\u0447\u0430\u043D\u0438\u044F \u0440\u0430\u0431\u043E\u0442\u044B \u0441\u043A\u043B\u0430\u0434\u0430.",
            "type": "string",
            "format": "date-time"
          },
          "working_hours": {
            "description": "\u0427\u0430\u0441\u044B \u0440\u0430\u0431\u043E\u0442\u044B \u0441\u043A\u043B\u0430\u0434\u0430.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimetableWorkingHours"
            }
          }
        }
      },
      "WarehouseWorkingDaysEnum": {
        "type": "string",
        "default": "UNSPECIFIED",
        "enum": [
          "UNSPECIFIED",
          "MONDAY",
          "TUESDAY",
          "WEDNESDAY",
          "THURSDAY",
          "FRIDAY",
          "SATURDAY",
          "SUNDAY"
        ]
      },
      "googlerpcStatus": {
        "type": "object",
        "title": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "\u041A\u043E\u0434 \u043E\u0448\u0438\u0431\u043A\u0438."
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/protobufAny"
            },
            "description": "\u0414\u043E\u043F\u043E\u043B\u043D\u0438\u0442\u0435\u043B\u044C\u043D\u0430\u044F \u0438\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044F \u043E\u0431 \u043E\u0448\u0438\u0431\u043A\u0435."
          },
          "message": {
            "type": "string",
            "description": "\u041E\u043F\u0438\u0441\u0430\u043D\u0438\u0435 \u043E\u0448\u0438\u0431\u043A\u0438."
          }
        }
      },
      "productv3GetProductListRequest": {
        "type": "object",
        "title": "object",
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/productv3GetProductListRequestFilter"
          },
          "last_id": {
            "type": "string",
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u043F\u043E\u0441\u043B\u0435\u0434\u043D\u0435\u0433\u043E \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u044F \u043D\u0430 \u0441\u0442\u0440\u0430\u043D\u0438\u0446\u0435. \u041F\u0440\u0438 \u043F\u0435\u0440\u0432\u043E\u043C \u0437\u0430\u043F\u0440\u043E\u0441\u0435 \u043E\u0441\u0442\u0430\u0432\u044C\u0442\u0435 \u044D\u0442\u043E \u043F\u043E\u043B\u0435 \u043F\u0443\u0441\u0442\u044B\u043C.\n\n\u0427\u0442\u043E\u0431\u044B \u043F\u043E\u043B\u0443\u0447\u0438\u0442\u044C \u0441\u043B\u0435\u0434\u0443\u044E\u0449\u0438\u0435 \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u044F, \u0443\u043A\u0430\u0436\u0438\u0442\u0435 \u0060last_id\u0060 \u0438\u0437 \u043E\u0442\u0432\u0435\u0442\u0430 \u043F\u0440\u0435\u0434\u044B\u0434\u0443\u0449\u0435\u0433\u043E \u0437\u0430\u043F\u0440\u043E\u0441\u0430.\n"
          },
          "limit": {
            "type": "integer",
            "format": "int64",
            "description": "\u041A\u043E\u043B\u0438\u0447\u0435\u0441\u0442\u0432\u043E \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u0439 \u043D\u0430 \u0441\u0442\u0440\u0430\u043D\u0438\u0446\u0435. \u041C\u0438\u043D\u0438\u043C\u0443\u043C \u2014 1, \u043C\u0430\u043A\u0441\u0438\u043C\u0443\u043C \u2014 1000."
          }
        }
      },
      "productv3GetProductListRequestFilter": {
        "type": "object",
        "title": "object",
        "description": "\u0424\u0438\u043B\u044C\u0442\u0440 \u043F\u043E \u0442\u043E\u0432\u0430\u0440\u0430\u043C.",
        "properties": {
          "offer_id": {
            "description": "\u0424\u0438\u043B\u044C\u0442\u0440 \u043F\u043E \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440\u0443 \u0060offer_id\u0060. \u0412\u044B \u043C\u043E\u0436\u0435\u0442\u0435 \u043F\u0435\u0440\u0435\u0434\u0430\u0432\u0430\u0442\u044C \u0441\u043F\u0438\u0441\u043E\u043A \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u0439.",
            "minItems": 1,
            "maxItems": 1000,
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "product_id": {
            "description": "\u0424\u0438\u043B\u044C\u0442\u0440 \u043F\u043E \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440\u0443 \u0060product_id\u0060. \u0412\u044B \u043C\u043E\u0436\u0435\u0442\u0435 \u043F\u0435\u0440\u0435\u0434\u0430\u0432\u0430\u0442\u044C \u0441\u043F\u0438\u0441\u043E\u043A \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u0439.",
            "minItems": 1,
            "maxItems": 1000,
            "items": {
              "type": "string",
              "format": "int64"
            },
            "type": "array"
          },
          "skus": {
            "items": {
              "type": "string",
              "format": "int64"
            },
            "description": "\u0424\u0438\u043B\u044C\u0442\u0440 \u043F\u043E \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440\u0443 \u0060sku\u0060. \u0412\u044B \u043C\u043E\u0436\u0435\u0442\u0435 \u043F\u0435\u0440\u0435\u0434\u0430\u0432\u0430\u0442\u044C \u0441\u043F\u0438\u0441\u043E\u043A \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u0439.",
            "minItems": 1,
            "maxItems": 1000,
            "type": "array"
          },
          "visibility": {
            "$ref": "#/components/schemas/productv3GetProductListRequestFilterFilterVisibility"
          }
        }
      },
      "productv3GetProductListRequestFilterFilterVisibility": {
        "default": "ALL",
        "enum": [
          "ALL",
          "VISIBLE",
          "INVISIBLE",
          "EMPTY_STOCK",
          "NOT_MODERATED",
          "MODERATED",
          "DISABLED",
          "STATE_FAILED",
          "READY_TO_SUPPLY",
          "VALIDATION_STATE_PENDING",
          "VALIDATION_STATE_FAIL",
          "VALIDATION_STATE_SUCCESS",
          "TO_SUPPLY",
          "IN_SALE",
          "REMOVED_FROM_SALE",
          "OVERPRICED",
          "CRITICALLY_OVERPRICED",
          "EMPTY_BARCODE",
          "BARCODE_EXISTS",
          "QUARANTINE",
          "ARCHIVED",
          "OVERPRICED_WITH_STOCK",
          "PARTIAL_APPROVED",
          "AUTO_ARCHIVED",
          "MANUAL_ARCHIVED",
          "SEASONAL_AUTO_ARCHIVED",
          "VISIBLE_WITH_FBO_STOCK"
        ],
        "type": "string",
        "title": "string",
        "description": "\u0424\u0438\u043B\u044C\u0442\u0440 \u043F\u043E \u0432\u0438\u0434\u0438\u043C\u043E\u0441\u0442\u0438 \u0442\u043E\u0432\u0430\u0440\u0430:\n  - \u0060ALL\u0060 \u2014 \u0432\u0441\u0435 \u0442\u043E\u0432\u0430\u0440\u044B, \u043A\u0440\u043E\u043C\u0435 \u0430\u0440\u0445\u0438\u0432\u043D\u044B\u0445;\n  - \u0060VISIBLE\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B, \u043A\u043E\u0442\u043E\u0440\u044B\u0435 \u0432\u0438\u0434\u043D\u044B \u043F\u043E\u043A\u0443\u043F\u0430\u0442\u0435\u043B\u044F\u043C;\n  - \u0060INVISIBLE\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B, \u043A\u043E\u0442\u043E\u0440\u044B\u0435 \u043D\u0435 \u0432\u0438\u0434\u043D\u044B \u043F\u043E\u043A\u0443\u043F\u0430\u0442\u0435\u043B\u044F\u043C;\n  - \u0060EMPTY_STOCK\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B, \u0443 \u043A\u043E\u0442\u043E\u0440\u044B\u0445 \u043D\u0435 \u0443\u043A\u0430\u0437\u0430\u043D\u043E \u043D\u0430\u043B\u0438\u0447\u0438\u0435;\n  - \u0060NOT_MODERATED\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B, \u043A\u043E\u0442\u043E\u0440\u044B\u0435 \u043D\u0435 \u043F\u0440\u043E\u0448\u043B\u0438 \u043C\u043E\u0434\u0435\u0440\u0430\u0446\u0438\u044E;\n  - \u0060MODERATED\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B, \u043A\u043E\u0442\u043E\u0440\u044B\u0435 \u043F\u0440\u043E\u0448\u043B\u0438 \u043C\u043E\u0434\u0435\u0440\u0430\u0446\u0438\u044E;\n  - \u0060DISABLED\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B, \u043A\u043E\u0442\u043E\u0440\u044B\u0435 \u0432\u0438\u0434\u043D\u044B \u043F\u043E\u043A\u0443\u043F\u0430\u0442\u0435\u043B\u044F\u043C, \u043D\u043E \u043D\u0435\u0434\u043E\u0441\u0442\u0443\u043F\u043D\u044B \u043A \u043F\u043E\u043A\u0443\u043F\u043A\u0435;\n  - \u0060STATE_FAILED\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B, \u0441\u043E\u0437\u0434\u0430\u043D\u0438\u0435 \u043A\u043E\u0442\u043E\u0440\u044B\u0445 \u0437\u0430\u0432\u0435\u0440\u0448\u0438\u043B\u043E\u0441\u044C \u043E\u0448\u0438\u0431\u043A\u043E\u0439;\n  - \u0060READY_TO_SUPPLY\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B, \u0433\u043E\u0442\u043E\u0432\u044B\u0435 \u043A \u043F\u043E\u0441\u0442\u0430\u0432\u043A\u0435;\n  - \u0060VALIDATION_STATE_PENDING\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B, \u043A\u043E\u0442\u043E\u0440\u044B\u0435 \u043F\u0440\u043E\u0445\u043E\u0434\u044F\u0442 \u043F\u0440\u043E\u0432\u0435\u0440\u043A\u0443 \u0432\u0430\u043B\u0438\u0434\u0430\u0442\u043E\u0440\u043E\u043C \u043D\u0430 \u043F\u0440\u0435\u043C\u043E\u0434\u0435\u0440\u0430\u0446\u0438\u0438;\n  - \u0060VALIDATION_STATE_FAIL\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B, \u043A\u043E\u0442\u043E\u0440\u044B\u0435 \u043D\u0435 \u043F\u0440\u043E\u0448\u043B\u0438 \u043F\u0440\u043E\u0432\u0435\u0440\u043A\u0443 \u0432\u0430\u043B\u0438\u0434\u0430\u0442\u043E\u0440\u043E\u043C \u043D\u0430 \u043F\u0440\u0435\u043C\u043E\u0434\u0435\u0440\u0430\u0446\u0438\u0438;\n  - \u0060VALIDATION_STATE_SUCCESS\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B, \u043A\u043E\u0442\u043E\u0440\u044B\u0435 \u043F\u0440\u043E\u0448\u043B\u0438 \u043F\u0440\u043E\u0432\u0435\u0440\u043A\u0443 \u0432\u0430\u043B\u0438\u0434\u0430\u0442\u043E\u0440\u043E\u043C \u043D\u0430 \u043F\u0440\u0435\u043C\u043E\u0434\u0435\u0440\u0430\u0446\u0438\u0438;\n  - \u0060TO_SUPPLY\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B, \u0433\u043E\u0442\u043E\u0432\u044B\u0435 \u043A \u043F\u0440\u043E\u0434\u0430\u0436\u0435;\n  - \u0060IN_SALE\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B \u0432 \u043F\u0440\u043E\u0434\u0430\u0436\u0435;\n  - \u0060REMOVED_FROM_SALE\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B, \u0441\u043A\u0440\u044B\u0442\u044B\u0435 \u043E\u0442 \u043F\u043E\u043A\u0443\u043F\u0430\u0442\u0435\u043B\u0435\u0439;\n  - \u0060OVERPRICED\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B \u0441 \u0437\u0430\u0432\u044B\u0448\u0435\u043D\u043D\u043E\u0439 \u0446\u0435\u043D\u043E\u0439;\n  - \u0060CRITICALLY_OVERPRICED\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B \u0441\u043E \u0441\u043B\u0438\u0448\u043A\u043E\u043C \u0437\u0430\u0432\u044B\u0448\u0435\u043D\u043D\u043E\u0439 \u0446\u0435\u043D\u043E\u0439;\n  - \u0060EMPTY_BARCODE\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B \u0431\u0435\u0437 \u0448\u0442\u0440\u0438\u0445\u043A\u043E\u0434\u0430;\n  - \u0060BARCODE_EXISTS\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B \u0441\u043E \u0448\u0442\u0440\u0438\u0445\u043A\u043E\u0434\u043E\u043C;\n  - \u0060QUARANTINE\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B \u043D\u0430 \u043A\u0430\u0440\u0430\u043D\u0442\u0438\u043D\u0435 \u043F\u043E\u0441\u043B\u0435 \u0438\u0437\u043C\u0435\u043D\u0435\u043D\u0438\u044F \u0446\u0435\u043D\u044B \u0431\u043E\u043B\u0435\u0435 \u0447\u0435\u043C \u043D\u0430 50%;\n  - \u0060ARCHIVED\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B \u0432 \u0430\u0440\u0445\u0438\u0432\u0435;\n  - \u0060OVERPRICED_WITH_STOCK\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B \u0432 \u043F\u0440\u043E\u0434\u0430\u0436\u0435 \u0441\u043E \u0441\u0442\u043E\u0438\u043C\u043E\u0441\u0442\u044C\u044E \u0432\u044B\u0448\u0435, \u0447\u0435\u043C \u0443 \u043A\u043E\u043D\u043A\u0443\u0440\u0435\u043D\u0442\u043E\u0432;\n  - \u0060PARTIAL_APPROVED\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B \u0432 \u043F\u0440\u043E\u0434\u0430\u0436\u0435 \u0441 \u043F\u0443\u0441\u0442\u044B\u043C \u0438\u043B\u0438 \u043D\u0435\u043F\u043E\u043B\u043D\u044B\u043C \u043E\u043F\u0438\u0441\u0430\u043D\u0438\u0435\u043C;\n  - \u0060AUTO_ARCHIVED\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B, \u043A\u043E\u0442\u043E\u0440\u044B\u0435 \u0441\u0438\u0441\u0442\u0435\u043C\u0430 \u043F\u0435\u0440\u0435\u043D\u0435\u0441\u043B\u0430 \u0432 \u0430\u0440\u0445\u0438\u0432 \u0430\u0432\u0442\u043E\u043C\u0430\u0442\u0438\u0447\u0435\u0441\u043A\u0438;\n  - \u0060MANUAL_ARCHIVED\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B, \u043A\u043E\u0442\u043E\u0440\u044B\u0435 \u043F\u0440\u043E\u0434\u0430\u0432\u0435\u0446 \u043F\u0435\u0440\u0435\u043D\u0451\u0441 \u0432 \u0430\u0440\u0445\u0438\u0432 \u0432\u0440\u0443\u0447\u043D\u0443\u044E;\n  - \u0060SEASONAL_AUTO_ARCHIVED\u0060 \u2014 \u0441\u0435\u0437\u043E\u043D\u043D\u044B\u0435 \u0442\u043E\u0432\u0430\u0440\u044B, \u043A\u043E\u0442\u043E\u0440\u044B\u0435 \u0441\u0438\u0441\u0442\u0435\u043C\u0430 \u043F\u0435\u0440\u0435\u043D\u0435\u0441\u043B\u0430 \u0432 \u0430\u0440\u0445\u0438\u0432 \u0430\u0432\u0442\u043E\u043C\u0430\u0442\u0438\u0447\u0435\u0441\u043A\u0438;\n  - \u0060VISIBLE_WITH_FBO_STOCK\u0060 \u2014 \u0442\u043E\u0432\u0430\u0440\u044B \u0441 \u043E\u0441\u0442\u0430\u0442\u043A\u0430\u043C\u0438 \u043D\u0430 FBO, \u043A\u043E\u0442\u043E\u0440\u044B\u0435 \u0432\u0438\u0434\u044F\u0442 \u043F\u043E\u043A\u0443\u043F\u0430\u0442\u0435\u043B\u0438.\n"
      },
      "productv3GetProductListResponse": {
        "type": "object",
        "title": "object",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/productv3GetProductListResponseResult"
          }
        }
      },
      "productv3GetProductListResponseItem": {
        "type": "object",
        "title": "object",
        "properties": {
          "archived": {
            "type": "boolean",
            "description": "\u0422\u043E\u0432\u0430\u0440 \u0432 \u0430\u0440\u0445\u0438\u0432\u0435."
          },
          "has_fbo_stocks": {
            "type": "boolean",
            "description": "\u0415\u0441\u0442\u044C \u043E\u0441\u0442\u0430\u0442\u043A\u0438 \u043D\u0430 \u0441\u043A\u043B\u0430\u0434\u0430\u0445 FBO."
          },
          "has_fbs_stocks": {
            "type": "boolean",
            "description": "\u0415\u0441\u0442\u044C \u043E\u0441\u0442\u0430\u0442\u043A\u0438 \u043D\u0430 \u0441\u043A\u043B\u0430\u0434\u0430\u0445 FBS."
          },
          "is_discounted": {
            "type": "boolean",
            "description": "\u0423\u0446\u0435\u043D\u0451\u043D\u043D\u044B\u0439 \u0442\u043E\u0432\u0430\u0440."
          },
          "offer_id": {
            "type": "string",
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u0442\u043E\u0432\u0430\u0440\u0430 \u0432 \u0441\u0438\u0441\u0442\u0435\u043C\u0435 \u043F\u0440\u043E\u0434\u0430\u0432\u0446\u0430 \u2014 \u0430\u0440\u0442\u0438\u043A\u0443\u043B."
          },
          "product_id": {
            "type": "integer",
            "format": "int64",
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u0442\u043E\u0432\u0430\u0440\u0430 \u0432 \u0441\u0438\u0441\u0442\u0435\u043C\u0435 Ozon \u2014 \u0060product_id\u0060."
          },
          "sku": {
            "type": "integer",
            "format": "int64",
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u0442\u043E\u0432\u0430\u0440\u0430 \u0432 \u0441\u0438\u0441\u0442\u0435\u043C\u0435 Ozon \u2014 SKU."
          },
          "quants": {
            "description": "\u0421\u043F\u0438\u0441\u043E\u043A \u043A\u0432\u0430\u043D\u0442\u043E\u0432.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/productv3GetProductListResponseItemQuant"
            }
          }
        }
      },
      "productv3GetProductListResponseItemQuant": {
        "type": "object",
        "title": "object",
        "properties": {
          "quant_code": {
            "type": "string",
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u044D\u043A\u043E\u043D\u043E\u043C-\u0442\u043E\u0432\u0430\u0440\u0430."
          },
          "quant_size": {
            "type": "integer",
            "format": "int64",
            "description": "\u0420\u0430\u0437\u043C\u0435\u0440 \u043A\u0432\u0430\u043D\u0442\u0430."
          }
        }
      },
      "productv3GetProductListResponseResult": {
        "type": "object",
        "title": "object",
        "description": "\u0420\u0435\u0437\u0443\u043B\u044C\u0442\u0430\u0442.",
        "properties": {
          "items": {
            "description": "\u0421\u043F\u0438\u0441\u043E\u043A \u0442\u043E\u0432\u0430\u0440\u043E\u0432.",
            "items": {
              "$ref": "#/components/schemas/productv3GetProductListResponseItem"
            },
            "type": "array"
          },
          "last_id": {
            "type": "string",
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u043F\u043E\u0441\u043B\u0435\u0434\u043D\u0435\u0433\u043E \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u044F \u043D\u0430 \u0441\u0442\u0440\u0430\u043D\u0438\u0446\u0435.\n\n\u0427\u0442\u043E\u0431\u044B \u043F\u043E\u043B\u0443\u0447\u0438\u0442\u044C \u0441\u043B\u0435\u0434\u0443\u044E\u0449\u0438\u0435 \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u044F, \u043F\u0435\u0440\u0435\u0434\u0430\u0439\u0442\u0435 \u043F\u043E\u043B\u0443\u0447\u0435\u043D\u043D\u043E\u0435 \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u0432 \u0441\u043B\u0435\u0434\u0443\u044E\u0449\u0435\u043C \u0437\u0430\u043F\u0440\u043E\u0441\u0435 \u0432 \u043F\u0430\u0440\u0430\u043C\u0435\u0442\u0440\u0435 \u0060last_id\u0060.\n"
          },
          "total": {
            "description": "\u0412\u0441\u0435\u0433\u043E \u0442\u043E\u0432\u0430\u0440\u043E\u0432.",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "protobufAny": {
        "type": "object",
        "title": "object",
        "properties": {
          "typeUrl": {
            "type": "string",
            "description": "\u0422\u0438\u043F \u043F\u0440\u043E\u0442\u043E\u043A\u043E\u043B\u0430 \u043F\u0435\u0440\u0435\u0434\u0430\u0447\u0438 \u0434\u0430\u043D\u043D\u044B\u0445."
          },
          "value": {
            "type": "string",
            "format": "byte",
            "description": "\u0417\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u043E\u0448\u0438\u0431\u043A\u0438."
          }
        }
      },
      "rpcStatus": {
        "type": "object",
        "title": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "\u041A\u043E\u0434 \u043E\u0448\u0438\u0431\u043A\u0438."
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/protobufAny"
            },
            "description": "\u0414\u043E\u043F\u043E\u043B\u043D\u0438\u0442\u0435\u043B\u044C\u043D\u0430\u044F \u0438\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0438\u044F \u043E\u0431 \u043E\u0448\u0438\u0431\u043A\u0435."
          },
          "message": {
            "type": "string",
            "description": "\u041E\u043F\u0438\u0441\u0430\u043D\u0438\u0435 \u043E\u0448\u0438\u0431\u043A\u0438."
          }
        }
      },
      "v1RatingStatus": {
        "type": "object",
        "title": "object",
        "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430.",
        "properties": {
          "danger": {
            "type": "boolean",
            "description": "\u041F\u0440\u0438\u0437\u043D\u0430\u043A, \u043F\u0440\u0435\u0432\u044B\u0448\u0435\u043D\u043E \u043B\u0438 \u043F\u043E\u0440\u043E\u0433\u043E\u0432\u043E\u0435 \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u0430 \u0434\u043B\u044F \u0431\u043B\u043E\u043A\u0438\u0440\u043E\u0432\u043A\u0438."
          },
          "premium": {
            "type": "boolean",
            "description": "\u041F\u0440\u0438\u0437\u043D\u0430\u043A, \u0434\u043E\u0441\u0442\u0438\u0433\u043D\u0443\u0442\u043E \u043B\u0438 \u043F\u043E\u0440\u043E\u0433\u043E\u0432\u043E\u0435 \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u0435 \u0434\u043B\u044F \u0443\u0447\u0430\u0441\u0442\u0438\u044F \u0432 Premium-\u043F\u0440\u043E\u0433\u0440\u0430\u043C\u043C\u0435."
          },
          "warning": {
            "type": "boolean",
            "description": "\u041F\u0440\u0438\u0437\u043D\u0430\u043A \u043D\u0430\u043B\u0438\u0447\u0438\u044F \u043F\u0440\u0435\u0434\u0443\u043F\u0440\u0435\u0436\u0434\u0435\u043D\u0438\u044F \u043E \u0432\u043E\u0437\u043C\u043E\u0436\u043D\u043E\u043C \u043F\u0440\u0435\u0432\u044B\u0448\u0435\u043D\u0438\u0438 \u043F\u043E\u0440\u043E\u0433\u043E\u0432\u043E\u0433\u043E \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u044F \u0434\u043B\u044F \u0431\u043B\u043E\u043A\u0438\u0440\u043E\u0432\u043A\u0438."
          }
        }
      },
      "v1SellerInfoResponse": {
        "type": "object",
        "properties": {
          "company": {
            "$ref": "#/components/schemas/SellerInfoResponseCompany"
          },
          "ratings": {
            "type": "array",
            "description": "\u0421\u043F\u0438\u0441\u043E\u043A \u0440\u0435\u0439\u0442\u0438\u043D\u0433\u043E\u0432.",
            "items": {
              "$ref": "#/components/schemas/SellerInfoResponseRating"
            }
          },
          "subscription": {
            "$ref": "#/components/schemas/SellerInfoResponseSubscription"
          }
        }
      },
      "v2WarehouseListV2Request": {
        "required": [
          "limit"
        ],
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "maximum": 200,
            "description": "\u041A\u043E\u043B\u0438\u0447\u0435\u0441\u0442\u0432\u043E \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u0439 \u0432 \u043E\u0442\u0432\u0435\u0442\u0435."
          },
          "cursor": {
            "type": "string",
            "description": "\u0423\u043A\u0430\u0437\u0430\u0442\u0435\u043B\u044C \u0434\u043B\u044F \u0432\u044B\u0431\u043E\u0440\u043A\u0438 \u0441\u043B\u0435\u0434\u0443\u044E\u0449\u0438\u0445 \u0434\u0430\u043D\u043D\u044B\u0445."
          },
          "warehouse_ids": {
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440\u044B \u0441\u043A\u043B\u0430\u0434\u043E\u0432.",
            "type": "array",
            "maximum": 200,
            "items": {
              "type": "string",
              "format": "int64"
            }
          }
        }
      },
      "v2WarehouseListV2Response": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "description": "\u0423\u043A\u0430\u0437\u0430\u0442\u0435\u043B\u044C \u0434\u043B\u044F \u0432\u044B\u0431\u043E\u0440\u043A\u0438 \u0441\u043B\u0435\u0434\u0443\u044E\u0449\u0438\u0445 \u0434\u0430\u043D\u043D\u044B\u0445."
          },
          "warehouses": {
            "description": "\u0421\u043F\u0438\u0441\u043E\u043A \u0441\u043A\u043B\u0430\u0434\u043E\u0432.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WarehouseListV2ResponseWarehouse"
            }
          },
          "has_next": {
            "type": "boolean",
            "description": "\u0060true\u0060, \u0435\u0441\u043B\u0438 \u0432 \u043E\u0442\u0432\u0435\u0442\u0435 \u0432\u0435\u0440\u043D\u0443\u043B\u0438\u0441\u044C \u043D\u0435 \u0432\u0441\u0435 \u0437\u043D\u0430\u0447\u0435\u043D\u0438\u044F.\n"
          }
        }
      },
      "v3GetProductInfoListRequest": {
        "type": "object",
        "title": "object",
        "properties": {
          "offer_id": {
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u0442\u043E\u0432\u0430\u0440\u0430 \u0432 \u0441\u0438\u0441\u0442\u0435\u043C\u0435 \u043F\u0440\u043E\u0434\u0430\u0432\u0446\u0430 \u2014 \u0430\u0440\u0442\u0438\u043A\u0443\u043B.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "product_id": {
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u0442\u043E\u0432\u0430\u0440\u0430 \u0432 \u0441\u0438\u0441\u0442\u0435\u043C\u0435 Ozon \u2014 \u0060product_id\u0060.",
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            }
          },
          "sku": {
            "description": "\u0418\u0434\u0435\u043D\u0442\u0438\u0444\u0438\u043A\u0430\u0442\u043E\u0440 \u0442\u043E\u0432\u0430\u0440\u0430 \u0432 \u0441\u0438\u0441\u0442\u0435\u043C\u0435 Ozon \u2014 SKU.",
[...]
